<button
  [type]="type"
  [disabled]="((buttonService.fetching$ | async) && clicked) || disabled"
  spinnerButton
  class="
    px-6
    py-3
    mr-1
    mb-1
    text-sm
    font-bold
    rounded
    outline-none
    shadow
    hover:shadow-lg
    focus:outline-none
    ease-linear
    opacity-100
  "
  [ngClass]="dynamicClass"
  (click)="clicked = true; onClick.emit()"
>
  <div
    #content
    *ngIf="!(spinning && clicked); else spinner"
    style="min-width: 8rem"
    class="h-7 flex justify-center text-center items-center align-center whitespace-nowrap"
  >
    <ng-content></ng-content>
  </div>
  <ng-template #spinner>
    <div style="min-width: 8rem" class="h-7 flex flex-col justify-center text-center items-center align-center">
      <svg
        class="animate-spin stroke-1 h-full text-white"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2"></circle>
        <path
          class="opacity-75"
          stroke="currentColor"
          stroke-width="2"
          fill="none"
          d="M 22 12 A 10 10 0 0 1 12 22"
        ></path>
      </svg>
    </div>
  </ng-template>
</button>
