<div
  *ngIf="showModal"
  class="
    overflow-x-hidden overflow-y-auto
    fixed
    inset-0
    z-50
    outline-none
    focus:outline-none
    justify-center
    items-center
    flex
  "
>
  <div class="relative w-auto mx-auto max-w-sm">
    <!--content-->
    <div
      class="p-4 border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none"
    >
      <!--header-->
      <div class="flex items-center justify-between mb-4 rounded-t">
        <p class="font-sans font-semibold text-base text-gray-700">
          {{ config.title }}
        </p>
        <button
          class="
            ml-auto
            bg-transparent
            border-0
            brave-primary-text-color
            float-right
            text-3xl
            leading-none
            font-semibold
            outline-none
            focus:outline-none
          "
          (click)="toggleModal(); closeModalClick.emit()"
        >
          <span class="material-icons-outlined"> close </span>
        </button>
      </div>
      <!--body-->
      <div class="relativeflex-auto">
        <ng-container *ngIf="injected; else body">
          <ng-content></ng-content>
        </ng-container>

        <ng-template #body>
          <p class="brave-body3 mb-3">
            {{ config.body }}
          </p>
          <p class="brave-body3">
            {{ config.subBody }}
          </p>
        </ng-template>
      </div>

      <!--footer-->
      <div class="flex items-center justify-end mt-5 rounded-b">
        <ng-container *ngIf="config.enableButtonOne">
          <brave-links-onlytext-button (click)="actionOne.emit($event)">
            {{ config.actionButtonOneText }}
          </brave-links-onlytext-button>
        </ng-container>
        <ng-container *ngIf="config.enableButtonTwo">
          <brave-filled-onlytext-button (click)="actionTwo.emit($event)">{{
            config.actionButtonTwoText
          }}</brave-filled-onlytext-button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="bg-black/20 fixed inset-0 z-40"></div>
