<ng-container *ngIf="dashboardData$ | async as data">
  <h2 class="text-lg font-semibold">{{ welcome }}</h2>

  <div
    *ngIf="initiative && data.dashScore && data.dashScore <= 675"
    class="bg-gray-50 p-4 cursor-pointer"
    (click)="onProgressTrackerClicked.emit()"
  >
    <h5 class="text-sm">{{ initiative?.initiativeTitle }}</h5>
    <brave-circle-checktext-progressbar [steps]="initiativeSteps"></brave-circle-checktext-progressbar>
  </div>

  <div
    *ngIf="(data.dashScore !== 1 && data.dashScore !== 4) || (data.dashScore === 4 && !data.dashScoreSuppressed)"
    class="my-4 flex justify-center"
  >
    <brave-dashboard-carousel [dashData]="data" [updatedAt]="updatedAt"></brave-dashboard-carousel>
  </div>
  <div *ngIf="data.dashScore === 1 || data.dashScore === 4" class="my-4 flex justify-center">
    <brave-dashboard-credit-score-error
      [suppressed]="data.dashScoreSuppressed || false"
    ></brave-dashboard-credit-score-error>
  </div>

  <h2 class="mb-1 text-lg font-semibold">{{ content.h1 }}</h2>
  <p *ngIf="updatedAt" class="text-xs mb-1">{{ content.p1 }}: {{ updatedAt | date: 'shortDate' }}</p>
  <div *ngIf="initiative && data.dashScore && data.dashScore <= 675" class="mt-6 hover:cursor-pointer">
    <brave-snapshot-display-card
      title="Claim Your FutureScore:"
      typeOfSnapshot="time"
      [value]="futureScore"
      [useBubble]="false"
      (click)="onProgressTrackerClicked.emit()"
      backGroundColor="#ffd683"
    ></brave-snapshot-display-card>
  </div>
  <div *ngIf="data.dashMetrics as metrics" class="mb-4">
    <div class="mt-6 hover:cursor-pointer">
      <brave-snapshot-display-card
        braveAnalytics
        tendency="up"
        [label]="updatesMetrics?.negative_accounts?.delta === 'change' ? 'update' : 'no-label'"
        typeOfSnapshot="time"
        [title]="content.negativeAccountsTitle"
        [value]="metrics[0].metricValue || 0"
        [status]="metrics[0].metricStatus || 'safe'"
        [analyticClickEvents]="AnalyticClickEvents.SnapshotNegativeItemsModule"
        (click)="negativeItemsClicked.emit()"
      ></brave-snapshot-display-card>
    </div>
    <div class="mt-6 hover:cursor-pointer">
      <brave-snapshot-display-card
        braveAnalytics
        tendency="no-tendency"
        [title]="content.forbearanceAccountsTitle"
        [status]="metrics[1].metricStatus || 'safe'"
        [analyticClickEvents]="AnalyticClickEvents.SnapshotForbearanceModule"
        (click)="forbearanceItemsClicked.emit()"
      ></brave-snapshot-display-card>
    </div>
    <div class="mt-6 hover:cursor-pointer">
      <brave-snapshot-display-card
        braveAnalytics
        tendency="no-tendency"
        [title]="content.databreachAccountsTitle"
        [status]="metrics[2].metricStatus || 'safe'"
        [analyticClickEvents]="AnalyticClickEvents.SnapshotBreachCard"
        (click)="databreachItemsClicked.emit()"
      ></brave-snapshot-display-card>
    </div>
    <div class="mt-6 hover:cursor-pointer">
      <brave-snapshot-display-card
        tendency="no-tendency"
        title="Credit Utilization"
        [label]="updatesMetrics?.credit_utilization?.delta === 'change' ? 'update' : 'no-label'"
        [rating]="metrics[3].metricValue?.toString() + '%'"
        [status]="metrics[3].metricStatus || 'default'"
        [analyticClickEvents]="AnalyticClickEvents.SnapshotCreditUtilization"
        (click)="creditUtilizationClicked.emit()"
        braveAnalytics
      ></brave-snapshot-display-card>
    </div>
    <div class="mt-6 hover:cursor-pointer">
      <brave-snapshot-display-card
        braveAnalytics
        title="Credit Mix"
        [label]="updatesMetrics?.credit_mix?.delta === 'change' ? 'update' : 'no-label'"
        tendency="no-tendency"
        [rating]="metrics[4].metricValue"
        [status]="metrics[4].metricStatus || 'default'"
        [analyticClickEvents]="AnalyticClickEvents.SnapshotCreditMix"
        (click)="creditMixClicked.emit()"
      ></brave-snapshot-display-card>
    </div>
  </div>

  <brave-links-onlytext-button id="dash-fullcr-btn" class="w-full" (click)="fullReportClicked.emit()">{{
    content.b1
  }}</brave-links-onlytext-button>

  <h5 class="mb-2 font-semibold text-lg">{{ content.h2 }}</h5>
  <h6 class="mb-4 text-sm">{{ content.h3 }}</h6>
  <div class="mt-2 flex flex-col justify-center items-center">
    <brave-dashboard-ads-carousel
      *ngIf="adsData"
      [adsData]="adsData"
      braveAnalytics
      [analyticClickEvents]="AnalyticClickEvents.DashboardProduct"
      [analyticConfig]="{ google: false, brave: true }"
    ></brave-dashboard-ads-carousel>
    <p
      class="mt-1 mb-2 text-center brave-body3 hover:cursor-pointer text-opacity-75 italic"
      (click)="showDisclaimer = !showDisclaimer"
    >
      {{ content.link1 }}
    </p>
    <ng-container *ngIf="showDisclaimer">
      <p class="brave-body3 text-opacity-50 mb-2">{{ content.p2 }}</p>
      <div
        class="brave-body3 text-opacity-50 flex justify-center items-center align-center hover:cursor-pointer"
        (click)="showDisclaimer = false"
      >
        <span class="material-icons" style="font-size: 12px">close</span>
        <p>close</p>
      </div>
    </ng-container>
  </div>

  <!-- Referral Gauge -->
  <brave-dashboard-referral-gauge></brave-dashboard-referral-gauge>

  <brave-base-modal [isModalActive]="modalOpen" *ngIf="!initiative && data.dashScore && data.dashScore <= 675">
    <div class="w-full max-w-xs">
      <h1 class="text-brave-blurple brave-h4 mb-6">First, let's learn about your credit goals</h1>
      <p>
        Brave Credit users who take the actions we suggest can grow their scores
        <span class="font-bold text-lg">70 points or more*</span>
      </p>
      <p class="mt-6">
        <span class="font-bold text-lg">Click on your goal</span> so we can create your personalized plan:
      </p>

      <brave-goal-choice-parent [getInitiative]="true" (goalClick)="toggleGoalChoiceModel()"></brave-goal-choice-parent>
      <div class="mt-16">
        <p style="font-size: 0.65rem">
          *Individual results will vary. Based on results of Brave Credit customers who reviewed their credit reports
          and submitted disputes on their credit report information, or successfully completed a 12 month Credit Builder
          Account from Self from 1/1/2020 to 10/31/2021. Making on-time payments of other accounts is critical to credit
          wellness and growth
        </p>
      </div>
    </div>
  </brave-base-modal>
</ng-container>

<ng-template #noCreditData>
  <div class="flex flex-col justify-evenly items-center align-center py-6 mb-4">
    <p>We are having difficulty displaying your report. Please try again at a later time.</p>
  </div>
</ng-template>
