<h2 class="text-lg font-semibold">{{ welcomeMsg }}</h2>

<div class="my-2">
  <brave-credit-report-graphic-with-graph [currentValue]="score"></brave-credit-report-graphic-with-graph>
</div>

<h2 class="mb-1 text-lg font-semibold">{{ content.h1 }}</h2>
<p *ngIf="lastUpdated" class="text-xs mb-1">{{ content.p1 }} {{ lastUpdated }}</p>
<div *ngIf="cards" class="mb-4">
  <div class="mt-6 hover:cursor-pointer">
    <brave-snapshot-display-card
      tendency="up"
      label="update"
      [title]="content.negativeAccountsTitle"
      typeOfSnapshot="time"
      [value]="cards.negativecard.count"
      [status]="cards.negativecard.status"
      (click)="negativeItemsClicked.emit()"
    ></brave-snapshot-display-card>
  </div>
  <div class="mt-6 hover:cursor-pointer">
    <brave-snapshot-display-card
      tendency="no-tendency"
      [title]="content.forbearanceAccountsTitle"
      [status]="cards.negativecard.status"
      (click)="forbearanceItemsClicked.emit()"
    ></brave-snapshot-display-card>
  </div>
  <div class="mt-6 hover:cursor-pointer">
    <brave-snapshot-display-card
      tendency="down"
      label="preview"
      status="danger"
      title="Credit Mix"
      typeOfSnapshot="tag"
      typeOfDate="Years"
      [preview]="true"
    ></brave-snapshot-display-card>
  </div>
  <div class="mt-6 hover:cursor-pointer">
    <brave-snapshot-display-card
      tendency="no-tendency"
      label="preview"
      status="danger"
      title="Credit Card Utilization"
      typeOfSnapshot="percentage"
      [preview]="true"
    ></brave-snapshot-display-card>
  </div>
</div>

<brave-links-onlytext-button class="w-full" (click)="fullReportClicked.emit()">{{
  content.b1
}}</brave-links-onlytext-button>
<h5 class="mb-2 font-semibold text-lg">{{ content.h2 }}</h5>
<h6 class="mb-4 text-sm">{{ content.h3 }}</h6>
<div class="mt-2 max-w-md">
  <brave-credit-builder-card></brave-credit-builder-card>
</div>
