<div *ngIf="viewDisplay === 'not-sent'">
  <p class="text-lg mt-4 mb-4">New Dispute</p>
  <brave-account-summary-with-details
    class="mt-4"
    [showDisputeButton]="false"
    [personalDetailsConfig]="dispute"
  ></brave-account-summary-with-details>
  <brave-dispute-base
    [initialStepId]="'reason'"
    [disputeType]="'not-mine'"
    [disputeViewState]="'summary'"
    (disputeProcessResult)="processResult.emit({ result: $event, personalItem: dispute })"
    [firstOptionReasonPages]="pageOne"
    [secondOptionDescription]="'Public record information is inaccurate'"
    [processReasons]="reasons"
    [defaultReasonCard]="defaultReasonCard"
  >
  </brave-dispute-base>
</div>
<div *ngIf="viewDisplay === 'sent'">
  <brave-disputes-success></brave-disputes-success>
</div>
