<div class="container mx-auto max-w-xs h-full" *ngIf="!isDisputeSent">
  <p class="text-lg mt-4 mb-4">New Dispute</p>
  <brave-dispute-header class="mt-4" [personaldispute]="dispute" [showDisputeButton]="false"></brave-dispute-header>
  <brave-disputes-personal (disputeProcessResult)="onDisputeProcessResult($event)"></brave-disputes-personal>
</div>
<div class="container mx-auto max-w-xs h-full" *ngIf="isDisputeSent">
  <p class="text-lg mt-4 mb-4">New Dispute</p>
  <brave-disputes-success></brave-disputes-success>
</div>
