<div *ngIf="viewDisplay === 'not-sent'">
  <p class="text-lg mt-4 mb-4">New Dispute</p>
  <brave-dispute-header class="mt-4" [personaldispute]="dispute" [showDisputeButton]="false"></brave-dispute-header>
  <brave-dispute-base
    [initialStepId]="'reason'"
    [disputeType]="'not-mine'"
    [viewState]="['summary']"
    (disputeProcessResult)="processResult.emit({ result: $event, personalItem: dispute })"
    [firstOptionReasonPages]="pageOne"
    [secondOptionDescription]="'Public record information is inaccurate'"
    [processReasons]="reasons"
  >
  </brave-dispute-base>
</div>
<div *ngIf="viewDisplay === 'sent'">
  <brave-disputes-success></brave-disputes-success>
</div>
