<div class="text-gray-900">
  <div class="flex items-center py-3">
    <div class="material-icons-outlined">close</div>
    <div class="ml-2 brave-body2-semibold">Deactivate Account</div>
  </div>
  <div *ngIf="!deactivateSuccess" class="mt-4">
    <p class="mt-4 text-sm brave-body2">
      We're sorry to see you go! To continue deactivating your account, you will need to enter your password.
    </p>
    <div class="mt-16 mx-9">
      <brave-simple-deactive-form
        [haveDeactivateError]="haveDeactivateError"
        [deactivateError]="deactivateError"
        (deactivateClick)="deactivateClick.emit($event)"
      ></brave-simple-deactive-form>
    </div>
  </div>
  <div *ngIf="deactivateSuccess" class="mt-4">
    <p class="mt-2 brave-body2">
      We've sent a link to your email to confirm this decision and to further verify your identity.
    </p>
    <p class="mt-2 brave-body2">
      If you are willing to share feedback on your experience or have suggestions to improve the experience click
      <a href="mailto:support@brave.credit?subject=Feedback"><span class="font-bold">&nbsp;here</span></a>
    </p>
  </div>
</div>
