<div class="container mx-auto max-w-xs h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full max-w-xs">
      <div class="relative flex flex-col min-w-0 w-full mb-6 border-0">
        <!-- image -->
        <div class="flex justify-center mb-6">
          <img class="h-64 w-64" src="https://d3e1i93f88eoxl.cloudfront.net/undraw_mail_sent_re_0ofv.svg" />
        </div>

        <!-- header -->
        <div class="py-3">
          <h4 class="brave-h4">{{ content.p1 }}</h4>
        </div>

        <!-- message -->
        <div class="py-3">
          <div class="text-base text-blueGray-600">
            <p class="mb-0">{{ content.p2 }}</p>
            <p>{{ content.p3 }}</p>
          </div>
        </div>

        <!-- footer -->
        <div class="mt-10 py-3">
          <div class="text-sm text-blueGray-600">
            <p>
              {{ content.p4 }}&nbsp;<span
                ><a class="font-bold hover:cursor-pointer" (click)="resendClick.emit()">{{ content.link1 }}</a></span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
