<div [@openClose]="detailsOpen ? 'open' : 'closed'" class="flex flex-col justify-evenly items-center overflow-hidden">
  <div class="flex justify-center items-center my-4 w-full" *ngIf="showDisputeButton">
    <brave-filled-onlytext-button
      braveDisputeButton
      [type]="'tradeline'"
      [tradeline]="tradelineDetailsConfig?.tradeline"
      >Dispute in a few clicks</brave-filled-onlytext-button
    >
  </div>
  <div class="flex flex-col items-center border border-slate-300 rounded-lg shadow w-full">
    <div class="flex flex-col items-start mt-3">
      <p class="ml-1">Account Details</p>
      <ng-container *ngIf="tradelineDetailsConfig">
        <brave-basic-carousel [pages]="pages" [data]="data"></brave-basic-carousel>
      </ng-container>
      <ng-container *ngIf="publicDetailsConfig">
        <brave-basic-carousel [pages]="pages" [data]="data"></brave-basic-carousel>
      </ng-container>
      <ng-container *ngIf="personalDetailsConfig">
        <brave-basic-carousel [pages]="pages" [data]="data"></brave-basic-carousel>
      </ng-container>
    </div>
  </div>
</div>
