<ng-container *ngIf="detailsOpen">
  <div class="flex justify-center" *ngIf="showDisputeButton">
    <div class="my-4 w-3/5">
      <brave-filled-spinning-button #spinnerBtn [full]="true" (click)="toggleModal(); disputeClicked()"
        >Dispute in a few clicks</brave-filled-spinning-button
      >
    </div>
  </div>
  <div class="flex flex-col items-center border border-blueGray-300 rounded-lg shadow w-full">
    <div class="flex flex-col items-start mt-3">
      <p class="ml-1">Account Details</p>
      <ng-container *ngIf="tradelineDetailsConfig">
        <brave-basic-carousel [pages]="pages" [data]="data"></brave-basic-carousel>
      </ng-container>
      <ng-container *ngIf="publicDetailsConfig">
        <brave-basic-carousel [pages]="pages" [data]="data"></brave-basic-carousel>
      </ng-container>
      <ng-container *ngIf="personalDetailsConfig">
        <brave-basic-carousel [pages]="pages" [data]="data"></brave-basic-carousel>
      </ng-container>
    </div>
  </div>
</ng-container>

<brave-onboarding-dispute
  [showModal]="showModal && !acknowledged"
  (confirmation)="handleActionForDispute($event)"
></brave-onboarding-dispute>
