<div class="my-6">
  <div class="flex items-center mb-1">
    <span class="material-icons-outlined mr-3 text-4xl" style="color: #222c9d">
      {{ icon }}
    </span>
    <span class="brave-body1-semibold">{{ title }}</span>
  </div>
  <div *ngIf="populated" class="text-sm mb-4">{{ populatedText }}</div>

  <div
    *ngIf="!populated"
    class="text-sm mb-3 text-center"
    style="color: #828282"
  >
  {{CREDIT_MIX_CONTENT.creditMixInitial.creditMixSection.div1}}
  </div>
  <div *ngIf="!populated" class="text-sm mb-6 text-center">{{ emptyText }}</div>
  <div class="flex justify-center">
    <a
      *ngIf="!populated"
      class="font-black"
      style="
        background-color: #d9f1f5;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 14px;
        padding-bottom: 14px;
        border-radius: 6px;
        color: #222c9d;
      "
      href="https://learn.self.inc/lpg/click-through/credit-builder-education-credit-card/?affiliate_partner=Bulldog Media Group&irgwc=1&irclickid=yB12CQ130xyIRHnyqjWYSydRUkG2Ph1p1VLCXg0&utm_source=impact_radius&utm_medium=affiliate&utm_campaign=Bulldog Media Group&utm_content=Self - Credit Card %2B Credit Builder Combo Page&media_partner1=&media_partner2=&media_parter3=&ad_name=Self - Credit Card %2B Credit Builder Combo Page&ad_type=TEXT_LINK&media_partner_id=70161&campaign_id=10159&media_partner_type=mediapartner&click_time_unix=1638237272355&subid1=N4P567_19805&subid2=&subid3=&sharedid=N4P567_19805&ircid=10159"
    >
    {{CREDIT_MIX_CONTENT.creditMixInitial.creditMixSection.a1}}
  </a>
  </div>
</div>
