<form [formGroup]="parentForm">
  <div class="grid grid-cols-3 gap-4">
    <div class="col-span-3">
      <brave-outline-input
        [config]="phoneConfig"
        (onComponentReady)="addChild('phone', $event)"
        [required]="true"
      >
      </brave-outline-input>
      <div *ngIf="!hideHint" class="-mt-2">
        <div class="flex justify-start items-start text-xs text-blueGray-600">
          <span class="-mt-1">&#42;</span>&nbsp;Required
        </div>
      </div>
    </div>
  </div>
</form>
