<form [formGroup]="parentForm" (ngSubmit)="submitForm()">
  <div class="grid grid-cols-3 gap-4">
    <div class="col-span-3">
      <brave-outline-input-phone
        [config]="phoneConfig"
        (onComponentReady)="addChild('phone', $event)"
        [required]="true"
      >
      </brave-outline-input-phone>
      <div *ngIf="!hideHint" class="-mt-2">
        <div class="flex justify-start items-start text-xs text-slate-600">
          <span class="-mt-1">&#42;</span>&nbsp;Required
        </div>
      </div>
    </div>
  </div>
</form>

<div class="mt-5">
  <div class="flex flex-row-reverse justify-between items-center">
    <brave-filled-spinning-button #spinner type="submit" [disabled]="!parentForm?.valid" (click)="submitForm()">
      <span class="flex items-center">Continue<span class="material-icons px-1">arrow_forward</span></span>
    </brave-filled-spinning-button>
    <ng-content></ng-content>
  </div>
</div>
