<!-- <div class="border-t border-blueGray-300 my-2"></div> -->
<div class="flex items-center mb-3">
  <span>Account Details</span>
</div>
<div class="card">
  <!-- ============================== -->
  <!--       AccountDetails Comp      -->
  <!-- ============================== -->
  <brave-tradeline-details-table [config]="config"></brave-tradeline-details-table>

  <!-- ============================== -->
  <!--       PaymentHistory Comp      -->
  <!-- ============================== -->
  <div *ngIf="viewDetail.open$ | async as open">
    <brave-tradeline-payments
      [paymentHistory]="paymentHistory"
      [remarks]="remarks"
      [address]="address"
      (disputeClick)="disputeClick.emit()"
    ></brave-tradeline-payments>
  </div>
  <div class="flex justify-center my-6">
    <brave-viewdetail-button #viewDetail>
      <p class="text-sm hover:cursor-pointer">See Payment History</p>
    </brave-viewdetail-button>
  </div>
</div>
<div class="border-t border-blueGray-300 my-2"></div>
