<brave-dispute-regular-card [hideViewDetails]="!isStatusProcessing()">
  <ng-template data>
    <span class="font-semibold text-sm flex-grow">{{ creditorName }}</span>
    <span class="font-semibold text-sm">Current Status:</span>
    <span class="font-semibold text-sm flex-grow">{{ accountType }}: </span>
    <span class="font-semibold text-sm {{ status! | disputeCardStatus: 'colorClass' }}">{{ status! | disputeCardStatus: 'text' }}</span>
  </ng-template>
  <ng-template details>
    <p class="text-sm">Submitted: {{ dateSubmitted }}</p>
    <p class="text-sm">Estimated Completion Date: {{ estCompletionDate }}</p>
  </ng-template>
</brave-dispute-regular-card>
