<div class="p-4 border rounded-sm border-blueGray-300 mt-6">
  <div class="grid grid-cols-2">
    <p class="font-semibold">{{ creditorName }}</p>
    <p class="text-right">Status:</p>
    <p class="text-sm">{{ accountType }}</p>
    <p class="text-right font-semibold text-indigo-800">{{ status }}}</p>
  </div>
  <p class="text-sm whitespace-nowrap">Submitted: {{ dateSubmitted }}</p>
  <div class="flex items-center mt-1">
    <p class="text-xs">View Details</p> <span class="material-icons">expand_more</span>
  </div>
</div>
