<div class="my-4 space-y-4">
  <p>Confirm Account to Dispute</p>
  <p class="text-sm text-dk-gray">{{ p1 }}</p>
  <p class="text-sm text-dk-gray">{{ p2 }}</p>
</div>

<!-- tradeline accounts -->
<ng-container
  *ngIf="tradelines?.length || publicItems?.length || (personalItems | filterArray: tu.queries.dispute.isDisputeable)?.length; else noneFound"
>
  <div *ngFor="let tradeline of tradelines">
    <brave-account-summary-with-details
      [showConfirmButton]="true"
      [showDisputeButton]="false"
      [tradelineDetailsConfig]="tradeline | filterArray"
    >
    </brave-account-summary-with-details>
  </div>

  <!-- personal items -->
  <div
    *ngIf="(personalItems | filterArray: tu.queries.dispute.isDisputeable)?.length"
    class="flex items-center mb-3"
  >
    <span class="material-icons-outlined">perm_identity</span>
    <span>Personal Information</span>
  </div>

  <div *ngFor="let personalItem of personalItems | filterArray: tu.queries.dispute.isDisputeable; index as idx">
    <brave-account-summary-with-details
      [showConfirmButton]="true"
      [showDisputeButton]="false"
      [personalDetailsConfig]="personalItem"
    ></brave-account-summary-with-details>
  </div>

  <!-- public items -->
  <div *ngIf="publicItems?.length" class="flex items-center mb-8">
    <span class="material-icons-outlined"> description </span>
    <span>Public Records</span>
  </div>

  <div *ngFor="let publicItem of publicItems">
    <brave-account-summary-with-details
      [showConfirmButton]="true"
      [showDisputeButton]="false"
      [publicDetailsConfig]="publicItem"
    ></brave-account-summary-with-details>
  </div>
</ng-container>

<ng-template #noneFound>
  <p class="text-center text-sm text-dk-gray my-10">No disputable items found.</p>
</ng-template>
