<div class="my-8">
  <!-- installment loan label -->
  <ng-container *ngIf="viewType === 'installment'">
    <div class="mb-4 flex items-center content-center">
      <span class="material-icons" style="color: #9b51e0">label</span>
      <h6 class="brave-h6 ml-2">{{ content.h1 }}</h6>
    </div>
    <div class="border-t mb-4" style="border-color: #9b51e0"></div>
  </ng-container>

  <!-- mortgage label -->
  <ng-container *ngIf="viewType === 'mortgage'">
    <div class="mb-4 flex items-center content-center">
      <span class="material-icons" style="color: #56ccf2">label</span>
      <h6 class="brave-h6 ml-2">{{ content.h2 }}</h6>
    </div>
    <div class="border-t mb-4" style="border-color: #56ccf2"></div>
  </ng-container>

  <!-- cards go here -->
  <ng-container *ngIf="tradelines.length; else noAccounts">
    <ng-container *ngFor="let tradeline of tradelines">
      <brave-credit-report-card
        [autoMap]="true"
        [tradeline]="tradeline"
        [viewDetailOrientation]="viewDetailOrientation"
        (viewDetailClick)="onViewDetail(tradeline)"
      ></brave-credit-report-card>
    </ng-container>
  </ng-container>

  <ng-template #noAccounts>
    <div class="mb-12 py-2.5 px-14">
      <p class="brave-body2 text-center">{{ content.p1 }}</p>
    </div>
  </ng-template>

  <div class="border-t border-slate-300 my-4"></div>
</div>
