<div braveRendered>
  <div class="no-print w-full h-16 py-3 flex bg-indigo-800">
    <div class="flex w-full py-3 justify-center items-center">
      <img class="h-10" src="https://d3e1i93f88eoxl.cloudfront.net/logo-text-and-icon-white.svg" alt="Brave Credit Logo" />
    </div>
  </div>  
  <section>
    <div class="mt-2">
      <ng-template #spacer>
        <div class="h-6">&nbsp;</div>
      </ng-template>
    </div>
  </section>
  <section class="relative flex flex-col justify-start items-center w-full h-full min-h-screen min-w-screen">
      <div class="container max-w-screen sm:max-w-screen md:max-w-md" style="min-width: 320px">
        <router-outlet></router-outlet>
      </div>
    </section>
  </div>
  