<div *ngIf="suppressed" class="bg-fuchsia-600 py-4 px-3 rounded-md">
  <p class="text-sm text-white">
    We located a credit file matching the information you provided, but it is not available at this time. If this error
    persists, please contact us at support@brave.credit.
  </p>
</div>

<a
  href="https://learn.self.inc/lpg/click-through/credit-builder-education-credit-card/?affiliate_partner=Bulldog Media Group&irgwc=1&irclickid=yB12CQ130xyIRHnyqjWYSydRUkGUV7RZ1VLCXg0&utm_source=impact_radius&utm_medium=affiliate&utm_campaign=Bulldog Media Group&utm_content=Self - Credit Card %2B Credit Builder Combo Page&media_partner1=&media_partner2=&media_parter3=&ad_name=Self - Credit Card %2B Credit Builder Combo Page&ad_type=TEXT_LINK&media_partner_id=70161&campaign_id=10159&media_partner_type=mediapartner&click_time_unix=1643998876273&subid1=OUGJA7_19805&subid2=&subid3=&sharedid=OUGJA7_19805&ircid=10159"
  *ngIf="!suppressed"
  target="_blank"
>
  <div class="bg-fuchsia-600 py-4 px-3 rounded-md">
    <p class="text-sm text-white">
      Your score of 4 may be because you don’t meet the minimum score criteria. To start building your credit history,
      click here to learn about an easy way to start building your credit while you save!
    </p>
  </div>
</a>
