<div class="bg-gray-50 p-4">
  <h5 class="text-sm">{{ model.initiative?.initiativeTitle }}</h5>
  <brave-circle-checktext-progressbar [steps]="model.initiativeSteps"></brave-circle-checktext-progressbar>
</div>

<brave-future-score-card
></brave-future-score-card>

<p style="font-size: 10px" class="text-center mt-2">
  {{PROGRESS_TRACKER_CONTENT.progressTrackerInitial.progressTrackerPure.p1}}
</p>

<div *ngFor="let initiativeTask of model.initiativeTasks">
  <div>
    <brave-progress-tracker-header [initiativeTask]="initiativeTask"></brave-progress-tracker-header>
  </div>

  <div class="mt-1 mb-4">
    <div *ngFor="let subTask of initiativeTask?.subTasks">
      <brave-progress-tracker-goal-card
        [taskCompleted]="subTask.taskStatus === 'complete'"
        [subTask]="subTask"
      ></brave-progress-tracker-goal-card>
    </div>
  </div>
</div>

<div>
  <brave-progress-tracker-disclaimer></brave-progress-tracker-disclaimer>
</div>