<div class="flex content-center items-center justify-center h-full">
  <div class="w-full max-w-xs">
    <div class="relative flex flex-col min-w-0 w-full mb-6 border-0">
      <!-- image -->
      <div class="flex justify-center mb-6">
        <img class="h-64 w-64" src="https://d3e1i93f88eoxl.cloudfront.net/undraw_sign_in_re_o58h.svg" />
      </div>

      <!-- header -->
      <div class="py-3">
        <h4 class="brave-h4">Welcome Back</h4>
      </div>

      <!-- subheader -->
      <div class="py-3">
        <div class="text-base">
          <p class="mb-6 text-slate-600">Let's start where you left off</p>
        </div>
      </div>

      <div class="mt-5">
        <div class="flex justify-between items-center">
          <brave-links-onlytext-button
            (click)="backClick.emit()"
            [config]="{ buttonSize: 'sm', color: 'text-slate-600' }"
          >
            <span class="flex items-center"> <span class="material-icons px-1">arrow_back</span>&nbsp;Back </span>
          </brave-links-onlytext-button>
          <brave-filled-onlytext-button (click)="nextClick.emit()"
            ><span class="flex items-center"
              >Continue<span class="material-icons px-1">arrow_forward</span></span
            ></brave-filled-onlytext-button
          >
        </div>
      </div>
    </div>
  </div>
</div>
