<button
  type="button"
  class="hover:cursor-pointer relative {{
    size === 'full' ? 'w-full mx-auto' : ''
  }} flex bg-transparent font-sans text-sm text-indigo-800 font-bold text-left hover:cursor-pointer focus:outline-none"
  (click)="open = !open; open$.next(open); viewDetailClick.emit()"
>

  <ng-container *ngIf="side === 'right'" >

    <ng-container>
      <span *ngIf="open" class="material-icons" style="font-size: 20px; transform: rotate(270deg)">expand_less</span>
    </ng-container>
  
    <span class="flex items-center mr-2">
      <p *ngIf="!open"><ng-container *ngTemplateOutlet="content"></ng-container></p>
      <p *ngIf="open">Close</p>
    </span>
  
    <ng-container>
      <span *ngIf="!open" class="material-icons" style="font-size: 20px; transform: rotate(90deg)">expand_less</span>
    </ng-container>

  </ng-container>

  <ng-container *ngIf="side === 'left'" >

    <ng-container>
      <span *ngIf="!open" class="material-icons" style="font-size: 20px; transform: rotate(-90deg)">expand_less</span>
    </ng-container>
    
    <span class="flex items-center mr-2">
      <p *ngIf="!open"><ng-container *ngTemplateOutlet="content"></ng-container></p>
      <p *ngIf="open">Close</p>
    </span>
    
    <ng-container>
      <span *ngIf="open" class="material-icons" style="font-size: 20px; transform: rotate(-270deg)">expand_less</span>
    </ng-container>
    
  </ng-container>

  <ng-template #content><ng-content></ng-content></ng-template>

</button>
