<p class="brave-body2 mb-3">{{ content.p1 }}</p>
<div *ngIf="unreviewed.length; else noBreaches">
  <div *ngFor="let card of cards; index as idx" class="mb-4">
    <ng-container *ngIf="!card.reviewed">
      <brave-data-breach-card
        [subscriber]="card?.subscriber"
        [paragraphs]="card?.paragraphs"
        [reason]="card?.reason"
        (closeClick)="hideCard(idx)"
      >
      </brave-data-breach-card>
    </ng-container>
  </div>
</div>

<ng-template #noBreaches>
  <div class="mx-8 flex justify-center align-center items-center">
    <img class="w-64 h-64" src="https://d3e1i93f88eoxl.cloudfront.net/no-data-breach.svg" />
  </div>
  <p class="mb-1 brave-body1 font-bold text-indigo-800 text-center">{{ content.p2 }}</p>
  <p class="brave-body2 text-center mb-1">{{ content.p3 }}</p>
  <p class="brave-body2 text-center mb-1">
    {{ content.p4
    }}<a class="hover:cursor-pointer brave-body2 text-blue-500" (click)="goToReport()"
      ><span>&nbsp;{{ content.link1 }}&nbsp;</span></a
    >{{ content.p5 }}
  </p>
</ng-template>
