<div *ngIf="viewDisplay === 'not-sent'">
  <p class="text-lg font-bold mt-4 mb-4">New Dispute</p>
  <brave-account-summary-with-details
    class="mt-4"
    [tradelinedispute]="dispute"
    [showDisputeButton]="false"
  ></brave-account-summary-with-details>
  <brave-dispute-base
    [initialStepId]="'select'"
    [disputeViewState]="disputeViewState"
    (disputeProcessResult)="processResult.emit({ result: $event, tradeline: dispute?.tradeline })"
    [firstOptionReasonPages]="pageOne"
    [secondOptionReasonPages]="pageTwo"
    [processReasons]="reasons"
  >
  </brave-dispute-base>
</div>
<div *ngIf="viewDisplay === 'sent'">
  <brave-disputes-success></brave-disputes-success>
</div>
