<div *ngIf="!isDisputeSent">
  <p class="text-lg mt-4 mb-4">New Dispute</p>
  <brave-dispute-header class="mt-4" [tradelinedispute]="dispute" [showDisputeButton]="false"></brave-dispute-header>
  <brave-disputes-tradeline
    [disputeType]="initialDisputeType"
    [initialStepId]="initialStepId"
    (disputeProcessResult)="processResult.emit({ result: $event, tradeline: dispute?.tradeline })"
    *ngIf="isDisputeProcessInProgress"
  ></brave-disputes-tradeline>
</div>
<div class="container mx-auto max-w-xs h-full" *ngIf="isDisputeSent">
  <brave-disputes-success></brave-disputes-success>
</div>
