<form [formGroup]="componentFormGroup">
  <div class="mt-4">
    <div class="pl-1 mt-2">
      <p class="font-sans mb-4 font-semibold text-base text-coolGray-700">
        {{ question?.FullQuestionText }}
      </p>
      <fieldset>
        <div *ngIf="question">
          <div *ngFor="let choice of choices; index as i">
            <label class="inline-flex items-center">
              <input
                name="input"
                type="radio"
                formControlName="input"
                class="
                  form-radio
                  text-indigo-800
                  shadow-sm
                  focus:border-indigo-300
                  focus:ring focus:ring-offset-0 focus:ring-indigo-200/50
                "
                [value]="{
                  question: question,
                  answer: choice
                }"
              />
              <span
                class="font-sans text-sm text-coolGray-700 ml-4"
                [innerHTML]="choice?.AnswerChoiceText | linkify"
              ></span>
            </label>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</form>
