<!-- HOW TO EARN -->
<h3 class="text-lg font-bold mt-6 mb-5">{{REFERRAL_DASHBOARD_CONTENT.referralDashboardInitial.referralBodyText.h1}}</h3>
<p class="mb-5">
  Get ${{ denomination || '--' }} for every friend you refer who doesn't have a Brave Credit account, and who
  successfully enrolls and checks their credit scores here. There's a {{ maxReferrals || 10 }} person referral limit a
  month.
</p>
<!-- OPTIONAL: BONUS -->
<p *ngIf="bonusThreshold > 0" class="mb-5">
  BONUS: get an <span class="font-bold">additional ${{ bonusAmount || '--' }}</span> if
  {{ bonusThreshold || '--' }} friends successfully enroll!
</p>
<p>
  The {{ maxReferrals || 10 }} person limit resets every month, and no referrals roll over to new campaigns. See the
  full terms
  <a class="underline cursor-pointer text-link-blue" href="http://www.brave.credit/referral-promotion-terms">here</a>.
</p>

<!-- WHEN IS IT PAID OUT -->
<h3 class="text-lg font-bold mt-8 mb-5">{{REFERRAL_DASHBOARD_CONTENT.referralDashboardInitial.referralBodyText.h2}}</h3>
<p class="mb-5">
  If you succesfully refer {{ maxReferrals || 10 }} people, your ${{ maxEarnings + bonusAmount || '--' }} gift card will
  be sent to the email on record
  <span class="font-bold"> the Tuesday after the full week the {{ maxReferrals || 10 }}th person enrolls.</span>
</p>
<p>
  If you have under {{ maxReferrals || 10 }} people referred for a month, you'll get the payout the first Tuesday of the
  following month.
</p>

<!-- GIFTCARD INFO -->
<h3 class="text-lg font-bold mt-8 mb-5">{{REFERRAL_DASHBOARD_CONTENT.referralDashboardInitial.referralBodyText.h3}}</h3>
<p class="mb-8">
  Our partner will send Amazon gift cards, but if that is unavailable they will provide a selection of cards from a
  similar retailer (Walmart, ebay, or other major retailers), or a Visa card.
</p>
<p>
  {{REFERRAL_DASHBOARD_CONTENT.referralDashboardInitial.referralBodyText.p1}}
  <a href="http://www.brave.credit/referral-promotion-terms" class="underline cursor-pointer text-link-blue">here.</a>
</p>
