<div *ngIf="tradelineDetailsConfig">
  <brave-account-summary
    [showDisputeButton]="true"
    [tradelineDetailsConfig]="tradelineDetailsConfig"
  ></brave-account-summary>

  <brave-account-detail
    [data]="tradelineDetailsConfig.tradeline | tradelineToPages"
    [pages]="tradelinepages"
    [tradelineDetailsConfig]="tradelineDetailsConfig"
    [detailsOpen]="detailsOpen"
  >
  </brave-account-detail>
</div>

<div *ngIf="publicDetailsConfig">
  <brave-account-summary [showDisputeButton]="true" [publicDetailsConfig]="publicDetailsConfig"></brave-account-summary>
  <brave-account-detail
    *ngIf="publicDetailsConfig"
    [data]="[{ config: publicDetailsConfig }]"
    [pages]="publicitempages"
    [detailsOpen]="detailsOpen"
    [publicDetailsConfig]="publicDetailsConfig"
  >
  </brave-account-detail>
</div>

<div *ngIf="personalDetailsConfig">
  <brave-account-summary
    [showDisputeButton]="true"
    [personalDetailsConfig]="personalDetailsConfig"
  ></brave-account-summary>
  <brave-account-detail
    *ngIf="personalDetailsConfig"
    [data]="[{ config: personalDetailsConfig!.transformed }]"
    [pages]="personalitempages"
    [detailsOpen]="detailsOpen"
    [personalDetailsConfig]="personalDetailsConfig"
  >
  </brave-account-detail>
</div>

<div class="flex justify-center py-3">
  <brave-viewdetail-button (click)="toggleViewDetails()" size="full">View Detail</brave-viewdetail-button>
</div>
