<div *ngIf="tradelineDetailsConfig">
  <brave-account-summary
    [showDisputeButton]="true"
    [tradelineDetailsConfig]="tradelineDetailsConfig"
  ></brave-account-summary>
  <p>tradeline</p>

  <!-- <div *ngIf="showConfirmButton" class="flex justify-center">
    <div class="my-4 w-3/5">
      <brave-filled-spinning-button
        [full]="true"
        (click)="
          tradelineDetailsConfig && accountSummaryWithDetailsService.onConfirmed(tradelineDetailsConfig.tradeline)
        "
        ><p class="text-center">&nbsp;&nbsp;&nbsp;Confirm&nbsp;&nbsp;&nbsp;</p></brave-filled-spinning-button
      >
    </div>
  </div> -->

  <brave-account-detail
    [data]="tradelineDetailsConfig.tradeline | tradelineToPages"
    [pages]="tradelinepages"
    [tradelineDetailsConfig]="tradelineDetailsConfig"
  >
  </brave-account-detail>
</div>

<div *ngIf="publicDetailsConfig">
  <brave-account-summary [showDisputeButton]="true" [publicDetailsConfig]="publicDetailsConfig"></brave-account-summary>

  <p>public</p>

  <brave-account-detail
    *ngIf="publicDetailsConfig"
    [data]="[{ config: publicDetailsConfig }]"
    [pages]="publicitempages"
    [publicDetailsConfig]="publicDetailsConfig"
  >
  </brave-account-detail>
</div>

<div *ngIf="personalDetailsConfig">
  <brave-account-summary
    [showDisputeButton]="true"
    [personalDetailsConfig]="personalDetailsConfig"
  ></brave-account-summary>

  <p>personal</p>

  <brave-account-detail
    *ngIf="personalDetailsConfig"
    [data]="[{ config: personalDetailsConfig!.transformed }]"
    [pages]="personalitempages"
    [personalDetailsConfig]="personalDetailsConfig"
  >
  </brave-account-detail>
</div>

<div class="flex justify-center py-3">
  <brave-viewdetail-button #viewDetail size="full">View Detail</brave-viewdetail-button>
</div>
