<div
  class="w-screen bg-black inset-0 z-50 h-screen fixed overflow-y-scroll {{
    isModalActive ? 'bg-opacity-50' : 'bg-opacity-0 pointer-events-none'
  }} flex justify-center items-center"
>
  <div
    class="bg-white py-6 px-12 m-4 rounded-md"
    *ngIf="isModalActive"
    [ngStyle]="{ height: 'fit-content', width: 'fit-content' }"
  >
    <div class="w-full flex text-lg">
      <button
        *ngIf="!hideCloseButton"
        (click)="close()"
        class="
          p-1
          ml-auto
          bg-transparent
          border-0
          text-indigo-800
          float-right
          text-3xl
          leading-none
          font-semibold
          outline-none
          focus:outline-none
        "
      >
        <span class="material-icons text-indigo-800">close</span>
      </button>
    </div>
    <div class="flex justify-center">
      <ng-content></ng-content>
    </div>
  </div>
</div>
