<div>
  <div>
    <div class="border-t border-blueGray-300 py-2"></div>
    <span>
      <p class="text-sm font-semibold mb-4">{{ data.creditorName }}</p>
    </span>
    <div class="grid grid-cols-2 gap-4 mb-2">
      <span>
        <p class="text-xs font-dk-gray">Last Payment to Creditor</p>
      </span>
      <span>
        <p class="text-xs font-semibold text-right">
          {{ data.lastReported }}
        </p>
      </span>
      <span *ngIf="data.accountTypeDescription">
        <p class="text-xs text-dk-gray">{{ data.accountTypeDescription }}</p>
      </span>
      <span *ngIf="data.accountTypeDescriptionValue">
        <p class="text-xs text-dk-gray text-opacity-50 text-right">
          {{ data.accountTypeDescriptionValue }}
        </p>
      </span>
      <span *ngIf="data.disputeFlag">
        <p class="text-xs text-dk-gray">{{ data.disputeFlag }}</p>
      </span>
      <span *ngIf="data.disputeFlagValue">
        <p class="text-xs text-dk-gray text-opacity-50 text-right">
          {{ data.disputeFlagValue }}
        </p>
      </span>
      <span *ngIf="data.originalCreditor">
        <p class="text-xs text-dk-gray">{{ data.originalCreditor }}</p>
      </span>
      <span *ngIf="data.originalCreditorValue">
        <p class="text-xs text-dk-gray text-opacity-50 text-right">
          {{ data.originalCreditorValue }}
        </p>
      </span>
    </div>
    <div *ngIf="viewDetail.open$ | async as open" class="flex flex-col w-full my-4">
      <div class="flex justify-center mb-8 px-16" *ngIf="showDisputeButton">
        <brave-filled-onlytext-button
          class="w-100"
          (click)="showModal = true"
          [config]="{
            buttonSize: 'sm',
            backgroundColor: 'bg-indigo-800',
            color: 'text-white',
            activeColor: 'bg-indigo-800',
            full: true
          }"
          >&nbsp;&nbsp;&nbsp;&nbsp;Dispute&nbsp;&nbsp;&nbsp;&nbsp;</brave-filled-onlytext-button
        >
        <brave-onboarding-dispute
          class="w-device h-device fixed"
          [showModal]="showModal && !acknowledged"
          (confirmation)="actionForDispute($event)"
        ></brave-onboarding-dispute>
      </div>
      <span>
        <p class="text-lg">Account Details</p>
      </span>
      <div class="border-t border-blueGray-300"></div>
      <div class="grid grid-cols-2 gap-4 py-2">
        <span>
          <p class="text-xs text-dk-gray">Account Number</p>
        </span>
        <span>
          <p class="text-xs text-dk-gray text-opacity-50 text-right">
            {{ data.accountDetail?.accountNumber }}
          </p>
        </span>
      </div>
      <div class="border-t border-blueGray-300"></div>
      <div class="grid grid-cols-2 gap-4 py-2">
        <span>
          <p class="text-xs text-dk-gray">Type</p>
        </span>
        <span class="text-right">
          <p class="text-xs text-dk-gray text-opacity-50">
            {{ data.accountDetail?.typeOfCollection }}
          </p>
        </span>
      </div>
      <div class="border-t border-blueGray-300"></div>
      <div class="grid grid-cols-2 gap-4 py-2">
        <span>
          <p class="text-xs text-dk-gray">Amount Past Due</p>
        </span>
        <span class="text-right">
          <p class="text-xs text-dk-gray text-opacity-50">
            {{ '$' + data.accountDetail?.amountPastDue }}
          </p>
        </span>
      </div>
      <div class="border-t border-blueGray-300"></div>
      <div class="grid grid-cols-2 gap-4 py-2">
        <span>
          <p class="text-xs text-dk-gray">Date Opened</p>
        </span>
        <span class="text-right">
          <p class="text-xs text-dk-gray text-opacity-50">
            {{ data.accountDetail?.dateOpened }}
          </p>
        </span>
      </div>
      <div class="border-t border-blueGray-300"></div>
      <div class="grid grid-cols-2 gap-4 py-2">
        <span>
          <p class="text-xs text-dk-gray">Date of Last Payment</p>
        </span>
        <span class="text-right">
          <p class="text-xs text-dk-gray text-opacity-50">
            {{ data.accountDetail?.dateLastPayment }}
          </p>
        </span>
      </div>
      <div class="border-t border-blueGray-300"></div>
      <div class="grid grid-cols-2 gap-4 py-2">
        <span>
          <p class="text-xs text-dk-gray">Remarks</p>
        </span>
        <span class="text-right">
          <p class="text-xs text-dk-gray text-opacity-50">
            {{ data.accountDetail?.remarks }}
          </p>
        </span>
      </div>
    </div>
    <div class="flex justify-center py-3">
      <brave-viewdetail-button #viewDetail size="full">View Detail</brave-viewdetail-button>
    </div>
  </div>
</div>
