<div class="mx-3 py-5">
  <div class="flex">
    <span class="material-icons-outlined mr-3"> assignment </span>
    <div>
      <p class="text-sm font-semibold">{{ creditorName }}</p>
      <p class="text-sm font-semibold">Result Received: {{ resultReceived | date: 'MM/dd/YYYY' }}</p>
    </div>
  </div>
  <div class="mt-2 flex items-center hover:cursor-pointer" (click)="viewDetailsClick.emit()">
    <span class="text-xs">View Details</span>
    <span class="material-icons text-sm"> keyboard_arrow_right </span>
  </div>
</div>
