<div class="container mx-auto max-w-xs h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full max-w-xs">
      <div class="relative flex flex-col min-w-0 w-full mb-6 border-0">
        <!-- image -->
        <div class="flex justify-center mb-6">
          <img class="h-64 w-64" src="https://d3e1i93f88eoxl.cloudfront.net/undraw_welcoming_xvuq.svg" />
        </div>

        <!-- header -->
        <div class="py-3">
          <h4 class="brave-h4">Verification Error</h4>
        </div>

        <!-- message -->
        <div class="py-3">
          <div class="text-base">
            <p class="mb-6 text-blueGray-600">
              Unfortunately we were unable to verify your identity with the answers provided.
            </p>
            <p class="mb-4 text-blueGray-600">If you are over 18 years old, please try to register again in 30 days.</p>
            <p class="mb-6 text-blueGray-600">
              If you are under 18, unfortunately we are unable to display your credit reports and score.
            </p>
            <p class="mb-6 text-fuchsia-500 hover:cursor-pointer" (click)="toggleShowModal()">
              Why was my ID unable to be verified?
            </p>
          </div>
        </div>

        <!-- action -->
        <div class="mt-5">
          <div class="flex justify-center items-center">
            <a href="https://brave.credit">
              <brave-filled-onlytext-button>Return to main page</brave-filled-onlytext-button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<brave-base-modal-small [config]="config" [injected]="true">
  <p class="brave-body3">{{ p1 }}</p>
  <br />
  <p class="brave-body3">{{ p2 }}</p>
  <br />
  <p class="brave-body3">
    {{ p3 }}&nbsp;<a [href]="link"><span class="underline">Transunion</span></a
    >.
  </p>
</brave-base-modal-small>
