<div class="container mx-auto max-w-xs h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full max-w-xs">
      <div class="relative flex flex-col min-w-0 w-full mb-6 border-0">
        <!-- image -->
        <div class="flex justify-center mb-6">
          <img class="w-full" src="assets/img/undraw_welcoming_xvuq.svg" />
        </div>

        <!-- header -->
        <div class="py-3">
          <h4 class="brave-h4">Let's get to know you!</h4>
        </div>

        <!-- form -->
        <div class="py-3">
          <brave-outline-name-form></brave-outline-name-form>
        </div>

        <div class="mt-5">
          <div class="flex justify-center items-center">
            <brave-filled-onlytext-button
              ><span class="flex items-center"
                >Continue<span class="material-icons px-1"
                  >arrow_forward</span
                ></span
              ></brave-filled-onlytext-button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
