<!-- ======= account cards ====== -->
<ng-container *ngIf="tradelineDetails">
  <brave-account-summary-tradeline [tradeline]="tradelineDetails"></brave-account-summary-tradeline>
</ng-container>
<ng-container *ngIf="publicItem">
  <brave-account-summary-publicitem [publicItem]="publicItem"></brave-account-summary-publicitem>
</ng-container>
<ng-container *ngIf="personalItem">
  <account-summary-header-personalitem [personalItem]="personalItem"></account-summary-header-personalitem>
</ng-container>

<!-- ======= Confirmation button ======== -->
<div *ngIf="showConfirmButton" class="flex justify-center">
  <div class="my-4 w-3/5">
    <brave-filled-spinning-button [full]="true" (click)="tradelineDetails && account.onConfirmed(tradelineDetails)"
      ><p class="text-center">&nbsp;&nbsp;&nbsp;Confirm&nbsp;&nbsp;&nbsp;</p></brave-filled-spinning-button
    >
  </div>
</div>
