<!-- ======= account cards ====== -->
<ng-container *ngIf="tradelinedispute">
  <brave-disputes-header-tradeline [dispute]="tradelinedispute"></brave-disputes-header-tradeline>
</ng-container>
<ng-container *ngIf="publicdispute">
  <brave-disputes-header-publicitem [dispute]="publicdispute"></brave-disputes-header-publicitem>
</ng-container>
<ng-container *ngIf="personaldispute">
  <brave-disputes-header-personalitem [dispute]="personaldispute"></brave-disputes-header-personalitem>
</ng-container>

<!-- ======= Confirmation button ======== -->
<div *ngIf="showConfirmButton" class="flex justify-center">
  <div class="my-4 w-3/5">
    <brave-filled-spinning-button [full]="true" (click)="confirmed.emit()"
      ><p class="text-center">&nbsp;&nbsp;&nbsp;Confirm&nbsp;&nbsp;&nbsp;</p></brave-filled-spinning-button
    >
  </div>
</div>

<!-- ======= Dispute button button ======== -->

<ng-container *ngIf="featureFlags.disputes$ | async">
  <div *ngIf="showDisputeButton && (viewDetail?.open$ | async) as open" class="flex justify-center">
    <div class="my-4 w-3/5">
      <brave-filled-spinning-button #spinnerBtn [full]="true" (click)="showModal = !showModal; this.disputeClicked()"
        >Dispute in a few clicks</brave-filled-spinning-button
      >
    </div>
    <brave-onboarding-dispute
      [showModal]="showModal && !acknowledged"
      (confirmation)="actionForDispute($event)"
    ></brave-onboarding-dispute>
  </div>
</ng-container>

<!-- ======= detail with carousel ====== -->
<div
  *ngIf="viewDetail?.open$ | async as open"
  class="flex flex-col items-center border border-blueGray-300 rounded-lg shadow w-full"
>
  <div class="flex flex-col items-start mt-3">
    <p class="ml-1">Account Details</p>
    <ng-container *ngIf="tradelinedispute">
      <brave-account-detail
        [pages]="tradelinepages"
        [data]="tradelinedispute.tradeline | tradelineToPages"
      ></brave-account-detail>
    </ng-container>
    <ng-container *ngIf="publicdispute">
      <brave-account-detail [pages]="publicitempages" [data]="[{ config: publicdispute }]"></brave-account-detail>
    </ng-container>
    <ng-container *ngIf="personaldispute">
      <brave-account-detail
        [pages]="personalitempages"
        [data]="[{ config: personaldispute.transformed }]"
      ></brave-account-detail>
    </ng-container>
  </div>
</div>

<div class="flex justify-center py-3">
  <brave-viewdetail-button #viewDetail size="full">View Detail</brave-viewdetail-button>
</div>
