<a
  class="font-sans text-sm uppercase hover:text-coolGray-500 text-coolGray-700 px-3 py-2 flex items-center"
  href="#"
  (click)="toggleDropdown($event)"
  #btnDropdownRef
>
  {{ config.menu }}
</a>
<div
  class="bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg min-w-48"
  [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'"
  #popoverDropdownRef
>
  <ng-container *ngFor="let submenu of config.submenus">
    <span
      *ngIf="submenu.group"
      class="text-sm pt-2 pb-0 px-4 font-bold block w-full whitespace-nowrap bg-transparent text-blueGray-400"
    >
      {{ submenu.group }}
    </span>
    <a
      [routerLink]="[submenu.route]"
      class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
    >
      {{ submenu.submenu }}
    </a>
    <div
      *ngIf="submenu.break"
      class="h-0 mx-4 my-2 border border-solid border-blueGray-100"
    ></div>
  </ng-container>
</div>
