<form [formGroup]="parentForm">
  <brave-outline-input
    [config]="emailConfig"
    (onComponentReady)="addChild('email', $event)"
    [required]="true"
    [asteriskOverride]="true"
  >
  </brave-outline-input>
  <brave-outline-input-hidden
    [config]="passwordConfig"
    (onComponentReady)="addChild('password', $event)"
    [required]="true"
    [asteriskOverride]="true"
  >
  </brave-outline-input-hidden>

  <!-- subheader -->
  <div class="-mt-3">
    <p *ngIf="viewState !== 'invalid'" class="mb-2 text-sm text-transparent">&nbsp;</p>
    <p *ngIf="viewState === 'invalid'" class="mb-2 text-sm text-red-500" [innerHTML]="message | linkify"></p>
  </div>

  <div class="mt-2">
    <div class="flex justify-center items-center">
      <brave-filled-onlytext-button [disabled]="true"
        >Sign Up</brave-filled-onlytext-button
      >
    </div>
  </div>
</form>
