<div style="min-width: 20rem" class="container mx-auto max-w-xs h-full px-4">
  <ng-container *ngIf="tradeline$ | async as tradeline">
    <brave-tradelines-pure
      [tradeline]="tradeline"
      [config]="tradeline | tradelineToDetails"
      [paymentHistory]="tradeline.Tradeline?.GrantedTrade?.PayStatusHistory"
      [remarks]="(tradeline | tradelineToDispute)?.accountDetail?.remarks || ''"
      (disputeClick)="onDisputeClicked($event)"
    ></brave-tradelines-pure>
  </ng-container>
</div>
