<div>
  <p class="text-sm font-semibold mb-4">{{ dispute.creditorName || missing }}</p>
</div>
<div class="grid grid-cols-2 gap-4 mb-2">
  <div>
    <p class="text-xs font-dk-gray">Last Payment to Creditor</p>
  </div>
  <div>
    <p class="text-xs font-semibold text-right">
      {{ dispute.lastReported || missing }}
    </p>
  </div>
  <div>
    <p class="text-xs text-dk-gray">{{ dispute.accountTypeDescription || missing }}</p>
  </div>
  <div>
    <p class="text-xs text-dk-gray text-opacity-75 text-right">
      {{ dispute.accountTypeDescriptionValue || missing }}
    </p>
  </div>
  <div>
    <p class="text-xs text-dk-gray">Previously Disputed?</p>
  </div>
  <div>
    <p class="text-xs text-dk-gray text-opacity-75 text-right">
      {{ dispute.disputeFlag || missing }}
    </p>
  </div>
  <div>
    <p class="text-xs text-dk-gray">Original Creditor</p>
  </div>
  <div>
    <p class="text-xs text-dk-gray text-opacity-75 text-right">
      {{ dispute.originalCreditor || missing }}
    </p>
  </div>
</div>
