<div class="container mx-auto max-w-xs h-full" *ngIf="!isDisputeSent">
  <div class="flex items-center" (click)="requestGoBack()">
    <span class="material-icons px-1">arrow_back</span>&nbsp;Back
  </div>
  <p class="text-lg mt-4 mb-4">New Dispute</p>
  <!-- TODO: (html) Create an ng-container to allow  -->
  <brave-negative-account-card
    class="mt-4"
    [data]="negativeAccountCardData"
    [showDisputeButton]="false"
  ></brave-negative-account-card>
  <brave-tradeline-dispute-process
    [disputeType]="initialDisputeType"
    [initialStepId]="initialStepId"
    (disputeProcessResult)="onDisputeProcessResult($event)"
    *ngIf="isDisputeProcessInProgress"
  ></brave-tradeline-dispute-process>
</div>
<div class="container mx-auto max-w-xs h-full" *ngIf="isDisputeSent">
  <brave-tradeline-dispute-process-success></brave-tradeline-dispute-process-success>
</div>
