<div class="hover:cursor-pointer mx-4 text-gray-900">
  <div class="flex items-center py-3">
    <div class="material-icons-outlined">lock</div>
    <div class="ml-2 font-semibold">Reset Password</div>
  </div>
  <div *ngIf="viewState === 'init'" class="mt-4">
    <p class="mt-2">To reset your password please enter your current password and your new desired password.</p>
    <brave-simple-change-password-form
      (changePasswordClick)="changePasswordClick.emit($event)"
    ></brave-simple-change-password-form>
  </div>
  <div *ngIf="viewState === 'success'" class="mt-4">
    <div class="mx-auto mt-10 h-24 w-24 rounded-full bg-black"></div>
    <p class="mt-2">You have successfully reset your password</p>
    <brave-links-onlytext-button (click)="goBackToSettingsClick.emit()"
      >Go Back to Settings</brave-links-onlytext-button
    >
  </div>
</div>
