<form [formGroup]="parentForm">
  <ng-container *ngFor="let config of configs; index as idx">
    <brave-outline-input
      [config]="config"
      [required]="config.required"
      [hideIcon]="config.hideIcon"
      (onComponentReady)="addChild(config.name || formatInputName(idx), $event)"
    >
    </brave-outline-input>
  </ng-container>

  <!-- subheader -->
  <div class="-mt-5">
    <p *ngIf="!haveError" class="text-sm text-transparent">&nbsp;</p>
    <p *ngIf="haveError" class="text-sm text-red-500">{{ errorMessage }}</p>
  </div>

  <div>
    <div class="flex justify-end items-end">
      <brave-filled-spinning-button *ngIf="buttonOneText" (click)="buttonOneClick.emit()">{{
        buttonOneText
      }}</brave-filled-spinning-button>
      <brave-filled-spinning-button *ngIf="buttonTwoText" (click)="submitForm()">{{
        buttonTwoText
      }}</brave-filled-spinning-button>
    </div>
  </div>
</form>
