<div class="flex content-center items-center justify-center h-full p-2">
  <div class="w-full max-w-xs">
    <div class="relative flex flex-col min-w-0 break-words w-full mb-6 border-0">
      <!-- logo -->
      <div class="flex justify-center">
        <img class="w-24 h-24 mb-3" src="https://d3e1i93f88eoxl.cloudfront.net/logo-only.png" />
      </div>

      <div class="flex justify-center">
        <img class="w-64" src="https://d3e1i93f88eoxl.cloudfront.net/logo-text-only-blurple.svg" />
      </div>
      <!-- Social sign up buttons -->
      <div class="rounded-t mb-0 mt-6">
        <div class="text-center mb-3">
          <h5 class="brave-h5-semibold">Create your new account!</h5>
        </div>

        <ng-container *ngIf="hasReferralCode">
          <ng-container *ngIf="campaignActive; else expired">
            <ng-container *ngIf="validReferralCode; else invalid">
              <div class="my-2 rounded-lg text-center p-4 bg-teal-100">
                <h3 class="mb-2 font-semibold text-sm">Conquer your credit scores and earn!*</h3>
                <p class="text-sm">Take control of your scores & earn a referral bonus for joining with friends!</p>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>

        <ng-template #expired>
          <ng-container>
            <div class="my-2 rounded-lg text-center p-4 bg-fuchsia-500">
              <h3 class="mb-2 font-semibold text-sm text-white">Campaign No Longer Active</h3>
              <p class="text-sm text-white">
                The campaign associated with that referral code has ended, but you can still sign up for Brave Credit.
              </p>
            </div>
          </ng-container>
        </ng-template>

        <ng-template #invalid>
          <div class="my-2 rounded-lg text-center p-4 bg-fuchsia-500">
            <h3 class="mb-2 font-semibold text-sm text-white">Invalid Referral Code</h3>
            <p class="text-sm text-white">The code you're using is not valid for any campaign or referral bonuses.</p>
          </div>
        </ng-template>
        <!-- <ng-container *ngIf="fetchingFinished">
      </ng-container> -->
        <div [ngClass]="hasReferralCode ? 'mt-4 mb-10' : 'my-10'">
          <div class="flex items-center mx-5 mb-5">
            <div class="mr-1 flex justify-center mr-3" style="min-width: 2.25rem">
              <img style="max-width: 2.25rem" src="https://d3e1i93f88eoxl.cloudfront.net/stopwatch.svg" />
            </div>
            <p class="brave-body2">Sign up in under 2 minutes</p>
          </div>
          <div class="flex mx-5 mb-5">
            <div class="mr-1 flex justify-center mr-3" style="min-width: 2.25rem">
              <img style="max-width: 1.875rem" src="https://d3e1i93f88eoxl.cloudfront.net/shield.svg" />
            </div>
            <p class="brave-body2">We use bank-grade security to protect your information</p>
          </div>
          <div class="flex mx-5">
            <div class="mr-1 flex justify-center mr-3" style="min-width: 2.25rem">
              <img style="max-width: 2.25rem" src="https://d3e1i93f88eoxl.cloudfront.net/transunion_logo.svg" />
            </div>
            <p class="brave-body2">Check your TransUnion® report & dispute any issues!</p>
          </div>
        </div>
      </div>
      <div class="flex-auto mb-6">
        <!-- <div class="brave-body1 text-center mb-3">
          <small>- Or -</small>
        </div> -->
        <brave-simple-signup-form
          (signupClick)="clickSignup.emit($event)"
          (forgotClick)="clickForgot.emit()"
          [viewState]="viewState"
          [message]="message"
        ></brave-simple-signup-form>
      </div>

      <!-- Already have an account -->
      <div class="flex justify-center">
        <div class="text-sm text-slate-600">
          <span>Already have an account? Login&nbsp;</span>
          <span>
            <a (click)="clickLogin.emit()" class="hover:cursor-pointer font-bold">here.</a>
          </span>
        </div>
      </div>

      <!--  terms of service -->
      <div class="flex justify-center mt-10">
        <div class="text-sm text-slate-600 text-center">
          <small>
            By joining you are agreeing to our Privacy Policy and Terms of Service&nbsp;<span
              ><a (click)="clickPrivacy.emit()" class="underline hover:cursor-pointer whitespace-nowrap"
                >Privacy Policy</a
              ></span
            >&nbsp;and&nbsp;<span
              ><a (click)="clickTerms.emit()" class="underline hover:cursor-pointer whitespace-nowrap"
                >Terms of Service</a
              ></span
            >
            .&nbsp;
            <span
              ><a (click)="clickReferralTerms.emit()" class="underline hover:cursor-pointer whitespace-nowrap"
                >*Terms and conditions</a
              ></span
            >
            for the referral programs apply
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
