<div class="flex content-center items-center justify-center h-full">
  <div class="w-full max-w-xs">
    <div class="relative flex flex-col min-w-0 w-full mb-6 border-0">
      <!-- header -->
      <div class="py-3">
        <h4 class="brave-h4 text-indigo-800">Social Security</h4>
      </div>

      <!-- subheader -->
      <div class="py-3">
        <div class="text-base">
          <p class="mb-6 text-blueGray-600">
            We weren’t able to verify your identiy with the last 4 digits of
            your SSN. We will need to verify your full SSN.
          </p>
        </div>
      </div>

      <!-- items -->
      <div class="py-3 pt-0">
        <div class="flex mb-6">
          <span class="material-icons justify-end ml-6 mr-2 text-blueGray-600"
            >lock_outline</span
          >
          <span class="text-base">
            <p class="text-blueGray-600">
              This will not impact your credit score
            </p>
          </span>
        </div>
        <div class="flex mb-6">
          <span class="material-icons justify-end ml-6 mr-2 text-blueGray-600"
            >lock_outline</span
          >
          <span class="text-base">
            <p class="text-blueGray-600">
              Your SSN will be encrypted and transmitted to us via a secure
              connection
            </p>
          </span>
        </div>
      </div>

      <!-- form -->
      <div class="py-3 pt-0">
        <brave-ssn-full-form></brave-ssn-full-form>
      </div>

      <div class="mt-5">
        <div class="flex justify-between items-center">
          <brave-links-onlytext-button
            (click)="backClick.emit()"
            [config]="{ buttonSize: 'sm', color: 'text-blueGray-600' }"
          >
            <span class="flex items-center">
              <span class="material-icons px-1">arrow_back</span>&nbsp;Back
            </span>
          </brave-links-onlytext-button>
          <brave-filled-onlytext-button (click)="nextClick.emit()"
            ><span class="flex items-center"
              >Continue<span class="material-icons px-1"
                >arrow_forward</span
              ></span
            ></brave-filled-onlytext-button
          >
        </div>
      </div>
    </div>
  </div>
</div>
