<div class="credit-score-history" style="border-radius: 6px; border: solid 1px #222C9D;">
  <p class="min-w-full flex justify-center align-center font-bold mt-2 mb-1">Your Score History</p>
    <ngx-charts-line-chart
    class="flex mb-2 justify-center"
      #chart
      [view]="view"
      [scheme]="colorScheme"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [yAxisTicks]="yAxisTicks"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [yScaleMin]="yScaleMin"
      [yScaleMax]="yScaleMax"
      [timeline]="timeline"
      [tooltipDisabled]="tooltipDisabled"
      [results]="multi"
      [showRefLines]="showRefLines"
      [referenceLines]="referenceLines"
      [showGridLines]="showGridLines"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
    >
    </ngx-charts-line-chart>
</div>
