<div class="w-full p-2">
  <ng-container *ngIf="report">
    <brave-dashboard-enrolled-pure
      [report]="report"
      [cards]="snapshots"
      [scores]="scores"
      [trends]="trends"
      [welcomeMsg]="welcomeMsg"
      [lastUpdated]="lastUpdated"
      [rating]="recommendation?.rating!"
      [color]="recommendation?.color"
      (negativeItemsClicked)="onNegativeItemsClicked()"
      (forbearanceItemsClicked)="onForbearanceItemsClicked()"
      (databreachItemsClicked)="onDatabreachItemsClicked()"
      (fullReportClicked)="onFullReportClicked()"
      (disputesClicked)="onDisputesClicked()"
      (creditUtilizationClicked)="onCreditUtilizationClicked()"
      (creditMixClicked)="onCreditMixClicked()"
    ></brave-dashboard-enrolled-pure>
  </ng-container>
</div>
