<div class="w-full p-2">
  <ng-container *ngIf="report">
    <brave-dashboard-enrolled-pure
      [report]="report"
      [cards]="snapshots"
      [scores]="scores"
      [welcomeMsg]="welcomeMsg"
      [lastUpdated]="lastUpdated"
      [pages]='pages'
      [data]='data'
      (negativeItemsClicked)="onNegativeItemsClicked()"
      (forbearanceItemsClicked)="onForbearanceItemsClicked()"
      (databreachItemsClicked)="onDatabreachItemsClicked()"
      (fullReportClicked)="onFullReportClicked()"
      (disputesClicked)="onDisputesClicked()"
      (creditUtilizationClicked)="onCreditUtilizationClicked()"
    ></brave-dashboard-enrolled-pure>
  </ng-container>
</div>
