<div class="w-full p-2">
  <ng-container *ngIf="report">
    <brave-dashboard-enrolled-pure
      [adsData]="adsData"
      [referral]="dashboardService.dashReferral$ | async"
      [rating]="rating"
      [creditMix]="creditMix"
      [creditMixStatus]="creditMixStatus"
      [creditUtilizationStatus]="creditUtilizationStatus"
      [creditUtilizationPerc]="creditUtilizationPerc"
      (negativeItemsClicked)="onNegativeItemsClicked()"
      (forbearanceItemsClicked)="onForbearanceItemsClicked()"
      (databreachItemsClicked)="onDatabreachItemsClicked()"
      (fullReportClicked)="onFullReportClicked()"
      (disputesClicked)="onDisputesClicked()"
      (creditUtilizationClicked)="onCreditUtilizationClicked()"
      (creditMixClicked)="onCreditMixClicked()"
      (referralsClicked)="onReferralsClicked()"
    ></brave-dashboard-enrolled-pure>
  </ng-container>
  <brave-dashboard-report-missing *ngIf="!report"></brave-dashboard-report-missing>
</div>
