<div class="p-2 rounded border border-gray-800">
  <!-- Grid of Dispute Card -->
  <div class="flex flex-wrap items-center">
    <ng-content [select]="[data]"></ng-content>
  </div>
  <!-- Metadata About The Dispute -->
  <div>
    <ng-content [select]="[details]"></ng-content>
  </div>
  <!-- View Detail Button -->
  <div *ngIf="!hideViewDetails" class="mt-2 flex items-center">
    <brave-viewdetail-button size="full" orientation="horizontal-right" (click)="viewDetailsClick.emit()"
      >View Detail</brave-viewdetail-button
    >
  </div>
</div>
