<!-- Display Container (not part of component) START -->
<div class="window-wrapper flex justify-center items-center w-full">
  <!-- Carousel Body -->
  <div #sliderWindow class="window justify-center overflow-hidden">
    <div #slider class="slider transition-all">
      <!-- put the questions here -->
      <form [formGroup]="parentForm">
        <div class="items flex overflow-x-hidden">
          <div *ngFor="let question of kbas; index as i">
            <div class="item" [ngStyle]="{ 'width.px': itemWidth }">
              <brave-kba-multiplechoice-input
                (onComponentReady)="
                  addChild(formatChildName('question', i), $event)
                "
                [required]="true"
                [question]="question"
              ></brave-kba-multiplechoice-input>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="flex justify-center">
  <!-- put the # / 4 here -->
  <p class="text-center">{{ tracker.length }} / {{ kbas?.length }}</p>
</div>
