<div class="flex flex-col justify-center items-center" *ngIf="exceptionCategory">
  <div class="h-32 w-32 mx-4">
    <img class="w-full" src="https://d3e1i93f88eoxl.cloudfront.net/undraw_access_denied_re_awnf.svg" />
  </div>
  <h1 class="text-lg text-center font-semibold">{{ exceptionCategory.message }}</h1>
  <div class="text-sm text-center mt-4 mb-4" style="white-space: pre-line">{{ exceptionCategory.description }}</div>
  <div class="flex justify-center">
    <brave-filled-onlytext-button (click)="actionButtonClicked.emit(exceptionCategory.route)">{{
      exceptionCategory.actionText
    }}</brave-filled-onlytext-button>
  </div>
</div>
