<div
  *ngIf="showModal"
  class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
>
  <div class="relative w-auto my-6 mx-auto max-w-3xl">
    <!--content-->
    <div
      class="border-0 rounded-lg shadow-lg relative flex flex-col w-full px-2 bg-white outline-none focus:outline-none"
    >
      <!--header-->
      <ng-container *ngIf="!config.title">
        <div class="flex items-center justify-between pt-3 rounded-t">
          <h5 class="brave-h5-semibold">{{ config.title }}</h5>
          <span class="material-icons text-3xl" (click)="toggleModal()">close</span>
        </div>
      </ng-container>
      <!--body-->
      <ng-container *ngIf="!config.body">
        <p class="font-sans text-sm">{{ config.body }}</p>
      </ng-container>
      <!--footer-->
      <ng-container *ngIf="!config.hideButtons">
        <div class="flex items-center justify-end pt-5 pb-8 rounded-b">
          <brave-links-onlytext-button (click)="actionOne.emit($event)">
            {{ config.actionButtonOneText }}
          </brave-links-onlytext-button>
          <brave-filled-onlytext-button (click)="actionTwo.emit($event)">{{
            config.actionButtonTwoText
          }}</brave-filled-onlytext-button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="opacity-20 fixed inset-0 z-40 bg-black"></div>
