<form [formGroup]="parentForm">
  <div class="grid grid-cols-3 gap-4">
    <div class="col-span-3">
      <brave-outline-input-code
        [config]="codeConfig"
        (onComponentReady)="addChild('code', $event)"
        [required]="true"
        [minLength]="5"
      >
      </brave-outline-input-code>
      <div *ngIf="!hideHint" class="-mt-2">
        <div class="flex justify-start items-start text-xs text-blueGray-600">
          <span class="-mt-1">&#42;</span>&nbsp;Required
        </div>
      </div>
    </div>
  </div>
</form>

<div class="mt-5">
  <div class="flex justify-between items-center">
    <ng-content></ng-content>
    <brave-filled-spinning-button
    #spinner
      [disabled]="!parentForm?.valid"
      (click)="submitForm()"
    >
      <span class="flex items-center"
        >Continue<span class="material-icons px-1"
          >arrow_forward</span
        ></span
      >
    </brave-filled-spinning-button>
  </div>
</div>