<ng-container *ngIf="investigationResults && creditBureauResults">
  <ng-container *ngIf="findings">
    <brave-dispute-findings-pure
      [findings]="findings"
      [reportCreatedAt]="findings.reportCreatedAt"
      [fileIdentificationNumber]="findings.fileIdentificationNumber"
      [tradelineAccountConfig]="tradelineAccountConfig"
      [publicRecordConfig]="publicRecordConfig"
      [personalInfoConfig]="personalInfoConfig"
      [stateOfResidence]="stateOfResidence"
    ></brave-dispute-findings-pure>
  </ng-container>
</ng-container>

