<div 
  class="p-4 rounded-lg border"
  [ngClass]="{ 'border-indigo-800': isSelected, 'border-blueGray-500': !isSelected }">
  <div>
    <div class="flex flex-row items-center">
      <span class="text-sm font-semibold">{{ text }}</span>
      <div class="ml-auto cursor-pointer flex justify-end" (click)="requestClick()">
        <span class="material-icons-outlined">{{ isSelected ? 'remove' : 'add' }}</span>
      </div>
    </div>
    <div *ngIf="isSelected && allowUserInput">
      <p class="my-2 text-sm font-semibold ">If you can't find your reason, provide details below.</p>
      <p class="my-2 text-xs font-light">{{ userInputDescriptionText }}</p>
      <textarea [(ngModel)]="customUserInput" class="resize-none w-full rounded-sm h-32 text-xs bg-blueGray-300" placeholder="Add your reason to dispute here"></textarea>
    </div>
  </div>
</div>

<brave-confirmation-modal 
  (confirmed)="modalActionHandler($event)" 
  btnTextConfirm="Continue providing details"
  btnTextCancel="Choose other reasons">
  <div>
    <p class="font-semibold text-sm">Alert:</p>
    <p class="text-xs">If selecting 'Other, provide details in "Additional Comments" field below', you cannot select any additional reasons to dispute.</p>
    <p class="text-xs">You may neither continue to provide details for your dispute, or select up to two alternative reasons.</p>
  </div>
</brave-confirmation-modal>
