<div class="p-2">
  <ng-container *ngIf="(report$ | async)?.report as report">
    <ng-container *ngIf="route.queryParams | async as params">
      <!-- =========== personal items =========== -->
      <ng-container *ngIf="params.type === 'personal'">
        <ng-container *ngIf="report | mergereportToPersonalitems as personalItems">
          <brave-disputes-reconfirm-pure [report]="report" [personalItems]="personalItems">
          </brave-disputes-reconfirm-pure>
        </ng-container>
      </ng-container>

      <!-- =========== public items =========== -->
      <ng-container *ngIf="params.type === 'public'">
        <ng-container *ngIf="report | mergereportToPublicitems as publicItems">
          <brave-disputes-reconfirm-pure [report]="report" [publicItems]="publicItems"> </brave-disputes-reconfirm-pure>
        </ng-container>
      </ng-container>

      <!-- =========== tradeline items =========== -->
      <ng-container *ngIf="(params.type !== 'public' && params.type !== 'personal' && params.type !== 'all')">
        <ng-container *ngIf="report | mergereportToTradelines: params.type as tradelines">
          <brave-disputes-reconfirm-pure [report]="report" [tradelines]="tradelines"> </brave-disputes-reconfirm-pure>
        </ng-container>
      </ng-container>

      <!-- =========== all items =========== -->
      <ng-container *ngIf="params.type === 'all'">
        <brave-disputes-reconfirm-pure
          [report]="report"
          [publicItems]="report | mergereportToPublicitems"
          [personalItems]="report | mergereportToPersonalitems"
          [tradelines]="report | mergereportToTradelines"
        >
        </brave-disputes-reconfirm-pure>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
