<div class="container mx-auto max-w-xs h-full">
  <div *ngIf="creditReport$ | async as report">
    <div *ngIf="report | mergereportToTradelines as tradelines">
      <div *ngIf="report | mergereportToPublicitems as publicItems">
        <div *ngIf="report | mergereportToPersonalitems as personalItems">
          <brave-disputes-reconfirm-pure
            [tradelines]="tradelines"
            [publicItems]="publicItems"
            [personalItems]="personalItems"
            (disputeTradelineClick)="onDisputeTradelineClick($event)"
            (disputePersonalClick)="onDisputePersonalClick($event)"
            (disputePublicClick)="onDisputePublicClick($event)"
          >
          </brave-disputes-reconfirm-pure>
        </div>
      </div>
    </div>
  </div>
</div>
