<div class="w-full p-4" *ngIf="currentView === 'select'">
  <p class="text-lg">Which option matches your request?</p>
  <form class="mt-4">
    <div class="flex items-center">
      <input type="radio" name="disputeType" value="not-mine" (change)="onRadioChanges($event)" />
      <label class="ml-4">{{ firstOptionDescription }}</label>
    </div>
    <div class="flex items-center">
      <input type="radio" name="disputeType" value="inaccurate" (change)="onRadioChanges($event)" />
      <label class="ml-4">{{ secondOptionDescription }}</label>
    </div>
  </form>
  <div class="flex justify-center mt-4">
    <brave-filled-onlytext-button
      class="{{ disputeType === undefined ? 'pointer-events-none' : '' }}"
      [config]="getButtonConfig()"
      (click)="goToReasons()"
      >Continue</brave-filled-onlytext-button
    >
  </div>
</div>

<div class="w-full" *ngIf="currentView === 'reason'">
  <p *ngIf="disputeType !== 'not-mine'" class="text-lg font-bold mb-2">Please select up to two reasons:</p>
  <p *ngIf="disputeType === 'not-mine'" class="text-lg font-bold mb-2">Please select a reason:</p>
  <div class="w-full">
    <!-- NOT MINE REASONS -->
    <ng-container *ngIf="disputeType === 'not-mine'">
      <div class="mt-4" *ngFor="let reason of notMineReasons; index as itemIndex">
        <brave-reason-card
          #mineCard
          [allowUserInput]="reason.allowUserInput || false"
          [text]="reason.reason.text"
          [userInputDescriptionText]="reason.userInputDescriptionText"
          (click)="mineCard.isSelected = !mineCard.isSelected; addSelection(reason)"
        >
        </brave-reason-card>
      </div>
    </ng-container>
    <!-- INACCURATE REASONS -->
    <ng-container *ngIf="disputeType !== 'not-mine'">
      <div class="mt-4" *ngFor="let reason of inaccurateReasons; index as idx">
        <brave-reason-card
          #inaccurateCard
          [allowUserInput]="reason.allowUserInput || false"
          [text]="reason.reason.text"
          [userInputDescriptionText]="reason.userInputDescriptionText"
          (click)="inaccurateCard.isSelected = !inaccurateCard.isSelected; addSelection(reason)"
        >
        </brave-reason-card>
      </div>
    </ng-container>
  </div>
  <!-- <div class="p-4">
    <brave-base-pagination
      #basePagination
      paginationStyle="point"
      [numberOfPages]="reasonOptionPages.length"
    ></brave-base-pagination>
  </div> -->
  <div class="p-4">
    <p class="text-lg font-bold mb-2">Reason(s) selected:</p>
    <span class="text-sm" *ngIf="selectedIndexes.length === 0">You have not selected any reasons.</span>
    <div>
      <div class="mt-4" *ngFor="let reason of reasons; index as idx">
        <brave-reason-card
          #reasonCard
          [text]="reason?.text || ''"
          [allowUserInput]="reason?.allowUserInput || false"
          [userInputDescriptionText]="reason?.userInputDescriptionText || ''"
          [customUserInput]="customReason"
          (customInputChanged)="customReason = $event"
          (clicked)="reasonCard.isSelected = !reasonCard.isSelected; removeSelection(idx)"
        ></brave-reason-card>
      </div>
    </div>
    <div class="flex justify-center">
      <brave-filled-onlytext-button class="mt-4" (click)="goToSummary()"
        >Continue to your summary</brave-filled-onlytext-button
      >
    </div>
    <div
      *ngIf="showCustomInputError || showMaxError"
      class="fixed inset-x-0 bottom-0 mb-4 g-red-500 text-white bg-red-600 font-bold text-sm px-6 rounded shadow hover:shadow-lg outline-none focus:outline-none ease-linear transition-all duration-150"
    >
      <p>You can only choose 2 preset reasons and only 1 custom reason</p>
    </div>
  </div>
</div>

<div *ngIf="currentView === 'summary'">
  <div class="p-4">
    <p class="text-lg font-bold mb-6">Reason(s)</p>
    <div class="mt-4" *ngFor="let reason of reasons">
      <brave-reason-card
        [isSelected]="true"
        [allowUserInput]="false"
        [text]="reason?.text || ''"
        [userInputDescriptionText]="reason?.userInputDescriptionText || ''"
      ></brave-reason-card>
    </div>
  </div>
  <brave-dispute-conditional-terms
    (accepted)="sendDispute()"
    title="Dispute Terms & Conditions"
    termDescription="I have carefully reviewed my dispute request and, to the best of my knowledge and belief, all the information provided is accurate and true. The dispute process can take up to 30 days and could take longer. In accordance to with the Fair Credit Act and applicable state laws on reporting, Transunion does not change or remove from your credit report accurate information or information verified as accurate"
  >
    <div>
      <p class="text-sm">
        By submitting your dispute request below, you are authorizing Brave Credit to transmit such request to
        TransUnion®, LLC (“TransUnion”). You understand that Brave Credit provides this service as a convenient method
        for its members to submit certain dispute requests to TransUnion® and to check the status or results of such
        dispute requests, but that Brave Credit itself does not process dispute requests and is not responsible for
        investigating or correcting errors in your credit report. Once submitted to TransUnion®, you must contact
        TransUnion® directly to cancel or modify your dispute request, including if you would like to send additional
        information or documentation in support of your dispute request.
      </p>
    </div>
  </brave-dispute-conditional-terms>
</div>
