<div class="container mx-auto max-w-xs h-full">
  <brave-dashboard-unenrolled-pure
    [userName]="''"
    [defaultMsg]="''"
    [initialMsg]="''"
    [lastUpdated]="''"
  ></brave-dashboard-unenrolled-pure>
</div>

<div class="w-full h-full fixed block top-0 left-0 bg-white opacity-90 z-50">
  <div class="w-full h-full flex flex-col justify-center items-center align-center">
    <brave-filled-onlytext-button (click)="onClickGetMyReport()">Get My Credit Report</brave-filled-onlytext-button>
  </div>
</div>
