<div style="background-color: rgb(211, 242, 246)" class="py-4 px-2 h-full flex flex-col flex-grow rounded-r">
  <div class="w-full">
    <p class="font-bold text-black text-center">Score History</p>
  </div>
  <div class="w-full">
    <div class="flex flex-shrink justify-center">
      <ul class="flex mb-0 list-none p-1 bg-white rounded">
        <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
          <a
            class="font-sans text-xs px-4 py-1 rounded block leading-normal"
            style="white-space: nowrap"
            (click)="toggleTabs(1)"
            [ngClass]="{
              'bg-white text-coolGray-700': openTab !== 1,
              'text-white font-bold bg-indigo-800': openTab === 1
            }"
          >
            3 MONTHS
          </a>
        </li>
        <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
          <a
            class="font-sans text-xs px-4 py-1 rounded block leading-normal"
            style="white-space: nowrap"
            (click)="toggleTabs(2)"
            [ngClass]="{
              'bg-white text-coolGray-700': openTab !== 2,
              'text-white font-bold bg-indigo-800': openTab === 2
            }"
          >
            6 MONTHS
          </a>
        </li>
      </ul>
    </div>
    <div class="relative flex flex-col flex-grow justify-center min-w-0 break-word w-full rounded">
      <div class="py-2 flex-auto">
        <div class="tab-content tab-space">
          <div *ngIf="openTab === 1">
            <!-- <brave-credit-score-history-ngx-chart></brave-credit-score-history-ngx-chart> -->
            <brave-credit-score-history-chart
              [lineChartData]="lineChartData3Month"
              [lineChartLabels]="lineChartLabels3Month"
            ></brave-credit-score-history-chart>
          </div>
          <div *ngIf="openTab === 2">
            <!-- <brave-credit-score-history-ngx-chart></brave-credit-score-history-ngx-chart> -->
            <brave-credit-score-history-chart
              [lineChartData]="lineChartData6Month"
              [lineChartLabels]="lineChartLabels6Month"
            ></brave-credit-score-history-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
