<div style="background-color: rgb(211, 242, 246)" class="py-4 px-2 rounded-r">
  <div class="w-full mb-2">
    <p class="font-bold text-black text-center">Score History</p>
  </div>
  <div class="w-full">
    <div class="flex flex-shrink flex-wrap justify-center">
      <ul class="flex mb-0 list-none p-1 bg-white rounded">
        <li class="-mb-px mr-2 last:mr-0 text-center">
          <a
            class="font-sans text-xs px-4 py-1 rounded block leading-normal"
            style="white-space: nowrap"
            (click)="toggleTabs(1)"
            [ngClass]="{
              'bg-white text-coolGray-700': openTab !== 1,
              'text-white font-bold bg-indigo-800': openTab === 1
            }"
          >
            3 MONTHS
          </a>
        </li>
        <li class="-mb-px mr-2 last:mr-0 text-center">
          <a
            class="font-sans text-xs px-4 py-1 rounded block leading-normal"
            style="white-space: nowrap"
            (click)="toggleTabs(2)"
            [ngClass]="{
              'bg-white text-coolGray-700': openTab !== 2,
              'text-white font-bold bg-indigo-800': openTab === 2
            }"
          >
            6 MONTHS
          </a>
        </li>
      </ul>
    </div>
    <div class="relative flex flex-col min-w-0 break-word w-full mb-6 rounded">
      <div class="px-4 py-5 flex-auto">
        <div class="tab-content tab-space">
          <div [ngClass]="{ hidden: openTab !== 1, block: openTab === 1 }">
            <!-- <brave-credit-score-history-ngx-chart></brave-credit-score-history-ngx-chart> -->
            <brave-credit-score-history-chart></brave-credit-score-history-chart>
          </div>
          <div [ngClass]="{ hidden: openTab !== 2, block: openTab === 2 }">
            <!-- <brave-credit-score-history-ngx-chart></brave-credit-score-history-ngx-chart> -->
            <brave-credit-score-history-chart></brave-credit-score-history-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
