<form [formGroup]="parentForm">
  <brave-outline-input
    [config]="emailConfig"
    (onComponentReady)="addChild('email', $event)"
    [required]="true"
    [asteriskOverride]="true"
  >
  </brave-outline-input>
  <brave-outline-input
    [config]="passwordConfig"
    (onComponentReady)="addChild('password', $event)"
    [required]="true"
    [asteriskOverride]="true"
  >
  </brave-outline-input>
  <div class="-mt-2">
    <div class="flex justify-start items-end">
      <a class="text-xs text-blueGray-600 hover:cursor-pointer" (click)="forgotClick.emit($event)">Forgot password?</a>
    </div>
  </div>

  <!-- subheader -->
  <div class="pt-3">
    <p *ngIf="viewState !== 'invalid'" class="mb-6 text-sm text-transparent">&nbsp;</p>
    <p *ngIf="viewState === 'invalid'" class="mb-6 text-sm text-red-500">{{ message }}</p>
  </div>

  <div class="mt-6">
    <div class="flex justify-center items-center">
      <brave-filled-spinning-button [disabled]="!parentForm.valid" (click)="signinClick.emit(signinUser(parentForm))"
        >Log In</brave-filled-spinning-button
      >
    </div>
  </div>
</form>
