<div class="mx-3 my-4">
  <div class="flex items-center">
    <div class="w-1 h-5 bg-purple-800 mr-4">
    </div>
    <p class="font-semibold">Rating Key</p>
  </div>
  <p class="text-sm mt-4">Some creditors report the timeliness of your payments each month in relation to your agreement with them. The ratings describe the payments that may be reported by your creditors and will help you understand any updates to your <b>Payment History</b> , if applicable to <b>YOUR INVESTIGATION RESULTS.</b>  Any value in the account detail appearing with brackets (> <) may indicate that it is considered adverse.</p>
</div>