<div
  *ngIf="this.parseCode(code) === tradelineIcons.Late"
  [ngClass]="[height, width]"
  class="flex justify-center items-center"
>
  <i class="material-icons text-xs text-orange-600">close</i>
</div>
<div
  *ngIf="this.parseCode(code) === tradelineIcons.Collection"
  [ngClass]="[height, width]"
  class="flex justify-center items-center"
>
  <span class="text-xs text-coolGray-600">C</span>
</div>
<div
  *ngIf="this.parseCode(code) === tradelineIcons.Unknown"
  [ngClass]="[height, width]"
  class="flex justify-center items-center"
>
  <i style="font-size: 0.5rem" class="material-icons text-coolGray-300"
    >circle</i
  >
</div>
<div
  *ngIf="this.parseCode(code) === tradelineIcons.Current"
  [ngClass]="[height, width]"
  class="flex justify-center items-center"
>
  <i class="material-icons text-xs text-emerald-500">check</i>
</div>
<div
  *ngIf="this.parseCode(code) === tradelineIcons.Other"
  [ngClass]="[height, width]"
  class="flex justify-center items-center"
>
  <i class="material-icons text-xs text-coolGray-600">info_outline</i>
</div>
