<div class="container mx-auto max-w-xs h-full">
  <brave-admin-navbar></brave-admin-navbar>
  <div style="margin-top: 3.5rem; padding-bottom: 4.5rem">
    <h2 class="mb-2 text-lg font-semibold">Welcome back, Emily!</h2>
    <div class="min-h-14 w-full bg-blueGray-200" style="height: 250px"></div>
    <h2 class="mt-2 mb-1 text-lg font-semibold">Your Credit Snapshot</h2>
    <p class="text-xs mb-1">Last Updated Today</p>
    <brave-snapshot-display-card
      tendency="up"
      label="hidden"
      status="critical"
      title="New Negative Accounts"
      typeOfSnapshot="time"
      value="5"
    ></brave-snapshot-display-card>
    <brave-snapshot-display-card
      tendency="down"
      label="update"
      status="safe"
      title="Age of Credit"
      typeOfSnapshot="time"
      value="3"
      typeOfDate="Years"
    ></brave-snapshot-display-card>
    <brave-snapshot-display-card
      tendency="down"
      label="update"
      status="danger"
      title="Credit Mix"
      typeOfSnapshot="tag"
      value="Not Bad"
      typeOfDate="Years"
    ></brave-snapshot-display-card>
    <brave-snapshot-display-card
      tendency="no-tendency"
      [label]="new"
      status="safe"
      title="Credit Card Utilization"
      typeOfSnapshot="percentage"
      value="40"
    ></brave-snapshot-display-card>
    <brave-links-onlytext-button class="w-full"
      >View Full Credit Report</brave-links-onlytext-button
    >
    <h5 class="mb-2 font-semibold text-lg">Take Control</h5>
    <h6 class="mb-2 text-sm">
      Trusted, affordable products no matter your credit situation
    </h6>
    <brave-credit-builder-card class="mt-2"></brave-credit-builder-card>
  </div>
  <brave-navigation-tabs></brave-navigation-tabs>
</div>
