<div class="mx-3 my-4">
  <p class="text-sm">In the preceding sections we have provided details on the results of our investigation. If our investigation has not resolved your dispute, here’s what you can do next:</p>
  <ul class="mt-4 p-3 list-disc">
    <li class="text-sm mt-2">
      <b>Add a 100-word statement to your report.</b> What this means is that you have the right to send us a note of 100 words or less describing your situation or why you disagree with the results, and we will add this statement to your report. Anyone who views your report will see this statement. Please know that if you include any medical information in your statement, this means you’re giving TransUnion permission to include that information in any future credit report we issue on your behalf.
    </li>
    <li class="text-sm mt-2">
      <b>Dispute directly with the company that reported the information to us.</b> If you want changes made to information found on your credit report you may dispute with the company that reported it using the contact information listed in Your Investigation Results.
    </li>
    <li class="text-sm mt-2">
      <b>Provide to us any other information or documents about your dispute.</b> Please visit <a href="www.transunion.com/dispute" target="_blank">www.transunion.com/dispute</a> and let us know you are filing a repeat dispute. Be sure to include any other information or documentation you feel will help us resolve your dispute.
    </li>
    <li class="text-sm mt-2">
      <b>File a complaint </b>about the company reporting the account or about TransUnion with the Consumer Financial Protection Bureau or with your State’s Attorney General’s office.
    </li>
  </ul>
  <p class="text-sm mt-4">
    If there has been a change to your credit report as a result of our investigation, or if you have added a statement to your report, <b>you may ask TransUnion to send an updated credit report</b> to those who have received your report within the last 2 years for employment purposes or within the last 6 months for any other purpose.
  </p>
</div>