<div class="w-full p-4">
  <p class="text-sm font-semibold"> >{{ description }}</p>
  <p class="text-sm"><span class="font-semibold">Date Reported: </span> <span>{{ dateReported }}</span></p>
  <brave-tradeline-dispute-process
  [disputeType]="disputeType"
  [initialStepId]="initialStepId"
  (disputeProcessResult)="disputeProcessResult.emit($event)"
  [firstOptionReasonPages]='firstOptionReasonPages'
  [secondOptionReasonPages]='secondOptionReasonPages'>
  </brave-tradeline-dispute-process>
</div>
