<div class="container mx-auto max-w-xs h-full">
  <div class="flex content-center items-center justify-center h-full p-2">
    <div class="w-full max-w-xs">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 border-0"
      >
        <!-- logo -->
        <div class="flex justify-center">
          <img class="w-32 h-32" src="assets/img/brave-teal-512x512.jpg" />
        </div>

        <!-- Social sign up buttons -->
        <div class="rounded-t mb-0 py-6">
          <div class="text-center mb-3">
            <h4 class="brave-h4">Create Account</h4>
          </div>
          <div class="btn-wrapper text-center">
            <div class="mb-1">
              <brave-google-iconsignin-button
                (click)="signUpWithGoogle()"
              ></brave-google-iconsignin-button>
            </div>
            <div>
              <brave-facebook-onlytextsignin-button
                (click)="signUpWithFacebook()"
              ></brave-facebook-onlytextsignin-button>
            </div>
          </div>
        </div>
        <div class="flex-auto py-6 pt-0">
          <div class="brave-body1 text-center mb-3">
            <small>- Or -</small>
          </div>
          <brave-simple-signup-form
            (signupClick)="signUpWithCognito($event)"
            (forgotClick)="goToForgot()"
          ></brave-simple-signup-form>
        </div>

        <!-- Already have an account -->
        <div class="flex justify-center">
          <div class="text-sm text-blueGray-600">
            <span>Already have an account?&nbsp;</span>
            <span>
              <a (click)="goToLogin()"> Login here. </a>
            </span>
          </div>
        </div>

        <!--  terms of service -->
        <div class="flex justify-center mt-10">
          <div class="text-sm text-blueGray-600 text-center">
            <small>
              By joining you are agreeing to our&nbsp;<span
                ><a (click)="goToPrivacy()" class="underline"
                  >Privacy Policy</a
                ></span
              >&nbsp;and&nbsp;<span
                ><a (click)="goToTerms()" class="underline">TOS</a></span
              >
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
