<form [formGroup]="parentForm" class="m-0 p-0">
  <div class="py-3">
    <h6 class="brave-h6">Full Legal Name</h6>
  </div>

  <div class="py-3 pt-0">
    <div class="grid grid-cols-3 gap-4">
      <div class="col-span-2">
        <brave-outline-input
          [config]="firstNameConfig"
          (onComponentReady)="addChild('first', $event)"
          [required]="true"
        >
        </brave-outline-input>
      </div>
      <div>
        <brave-outline-input
          [config]="middleNameConfig"
          (onComponentReady)="addChild('middle', $event)"
          [required]="false"
        >
        </brave-outline-input>
      </div>
      <div class="col-span-3">
        <div>
          <brave-outline-input
            [config]="lastNameConfig"
            (onComponentReady)="addChild('last', $event)"
            [required]="true"
          >
          </brave-outline-input>
          <div *ngIf="!hideHint" class="-mt-2">
            <div
              class="flex justify-start items-start text-xs text-blueGray-600"
            >
              <span class="-mt-1">&#42;</span>&nbsp;Required
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- section 2 header -->
  <div class="py-3">
    <h6 class="brave-h6">Date of Birth<span class="-mt-1">&#42;</span></h6>
  </div>

  <div class="py-3-pt-0">
    <div class="grid grid-cols-3 gap-2">
      <div>
        <brave-outline-select-input
          [config]="monthConfig"
          (onComponentReady)="addChild('month', $event)"
          [required]="true"
          [validators] = "[monthValidator]"
          [asteriskOverride]="true"
        >
        </brave-outline-select-input>
        <div class="-mt-2">
          <div class="flex justify-start items-start text-xs text-blueGray-600">
            <span class="-mt-1">&#42;</span>&nbsp;Required
          </div>
        </div>
      </div>
      <div>
        <brave-outline-select-input
          [config]="dayConfig"
          (onComponentReady)="addChild('day', $event)"
          [required]="true"
          [validators] = "[dayValidator]"
          [asteriskOverride]="true"
        >
        </brave-outline-select-input>
      </div>
      <div>
        <div>
          <brave-outline-select-input
            [config]="yearConfig"
            (onComponentReady)="addChild('year', $event)"
            [required]="true"
            [validators] = "[yearValidator]"
            [asteriskOverride]="true"
          >
          </brave-outline-select-input>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <div class="flex justify-between items-center">
      <ng-content></ng-content>
      <brave-filled-spinning-button
      #spinner
        [disabled]="!parentForm?.valid || !(validateForm(parentForm))"
        (click)="submitForm()"
      >
        <span class="flex items-center"
          >Continue<span class="material-icons px-1"
            >arrow_forward</span
          ></span
        >
      </brave-filled-spinning-button>
    </div>
  </div>
</form>
