<div class="flex content-center items-center justify-center h-full">
  <div class="w-full max-w-xs">
    <div class="relative flex flex-col min-w-0 w-full mb-6 border-0">
      <!-- image -->
      <div class="flex justify-center mb-6">
        <img class="w-full" src="assets/img/undraw_welcoming_xvuq.svg" />
      </div>

      <!-- header -->
      <div class="py-3">
        <h4 class="brave-h4 text-indigo-800">Welcome!</h4>
      </div>

      <!-- subheader -->
      <div class="py-3">
        <div class="text-base">
          <p class="mb-6 text-blueGray-600">Let's start with some basic info</p>
        </div>
      </div>

      <!-- form -->
      <div>
        <brave-outline-namedob-form
          #form
          (onSubmit)="formSubmit.emit($event)"
          (onSubmitError)="formError.emit($event)"
          [hideHint]="true"
        ></brave-outline-namedob-form>
      </div>

      <div class="mt-3 mb-6">
        <p *ngIf="!hasError" class="text-sm text-transparent mb-2">&nbsp;</p>
        <p *ngIf="hasError" class="text-sm text-red-500 mb-2">Missing required information</p>
        <p class="text-xs text-blueGray-600">
          By submitting this registration form, I understand that I am providing written instructions in accordance with
          the Fair Credit Reporting Act and other applicable law for CABOODLE CORP dba Brave Credit to request and
          receive information about me from third parties, including but not limited to a copy of my consumer credit
          report and score from consumer reporting agencies, at any time for so long as I have an active CABOODLE CORP
          dba Brave Credit account. I further authorize CABOODLE CORP dba Brave Credit to retain a copy of my
          information for use in accordance with CABOODLE CORP dba Brave Credit's Terms of Use and Privacy Policy.
        </p>
      </div>

      <!-- can place error messages here maybe? -->

      <div>
        <div class="flex justify-end items-center">
          <brave-filled-onlytext-button (click)="form.submitForm()"
            ><span class="flex items-center"
              >I Accept<span class="material-icons px-1">arrow_forward</span></span
            ></brave-filled-onlytext-button
          >
        </div>
      </div>
    </div>
  </div>
</div>
