<div class="flex content-center items-center justify-center h-full">
  <div class="w-full max-w-xs">
    <div class="relative flex flex-col min-w-0 w-full mb-6 border-0">
      <!-- image -->
      <div class="flex justify-center mb-6">
        <img class="w-full" src="assets/img/undraw_welcoming_xvuq.svg" />
      </div>

      <!-- header -->
      <div class="py-3">
        <h4 class="brave-h4 text-indigo-800">Welcome!</h4>
      </div>

      <!-- subheader -->
      <div class="py-3">
        <div class="text-base">
          <p class="mb-6 text-blueGray-600">
            Let's start with some basic info
          </p>
        </div>
      </div>

      <!-- section 1 header -->
      <div class="py-3">
        <h6 class="brave-h6">Full Legal Name</h6>
      </div>

      <!-- form -->
      <div class="py-3 pt-0">
        <brave-know-you-form [hideHint]="true"></brave-know-you-form>
      </div>

      <!-- section 2 header -->
      <div class="py-3">
        <h6 class="brave-h6">
          Date of Birth<span class="-mt-1">&#42;</span>
        </h6>
      </div>

      <!-- form -->
      <div class="py-3 pt-0">
        <brave-dateofbirth-form></brave-dateofbirth-form>
      </div>

      <div class="mt-5">
        <div class="flex justify-between items-center">
          <!-- <brave-links-onlytext-button
            [config]="{ buttonSize: 'sm', color: 'text-blueGray-600' }"
          >
            <span class="flex items-center">
              <span class="material-icons px-1">arrow_back</span>&nbsp;Back
            </span>
          </brave-links-onlytext-button> -->
          <brave-filled-onlytext-button (click)="nextClick.emit()"
            ><span class="flex items-center"
              >Continue<span class="material-icons px-1"
                >arrow_forward</span
              ></span
            ></brave-filled-onlytext-button
          >
        </div>
      </div>
    </div>
  </div>
</div>
