<div class="flex content-center items-center justify-center h-full">
  <div class="w-full max-w-xs">
    <div class="relative flex flex-col min-w-0 w-full mb-6 border-0">
      <!-- header -->
      <div class="py-3">
        <h4 class="brave-h4 text-indigo-800">Social Security</h4>
      </div>

      <!-- subheader -->
      <div class="py-3">
        <div class="text-base">
          <p class="mb-6 text-slate-600">
            We weren’t able to verify your identiy with the last 4 digits of your SSN. We will need to verify your full
            SSN.
          </p>
        </div>
      </div>

      <!-- items -->
      <div class="py-3 pt-0">
        <div class="flex mb-6">
          <span class="material-icons justify-end ml-6 mr-2 text-slate-600">lock_outline</span>
          <span class="text-base">
            <p class="text-slate-600">This will not impact your credit score</p>
          </span>
        </div>
        <div class="flex mb-6">
          <span class="material-icons justify-end ml-6 mr-2 text-slate-600">lock_outline</span>
          <span class="text-base">
            <p class="text-slate-600">Your SSN will be encrypted and transmitted to us via a secure connection</p>
          </span>
        </div>
      </div>

      <!-- form -->
      <div class="py-3 pt-0">
        <brave-outline-ssn-full-form
          #form
          (onSubmit)="formSubmit.emit($event)"
          (onSubmitError)="formError.emit($event)"
        >
          <brave-links-onlytext-button
            (click)="backClick.emit()"
            [config]="{ buttonSize: 'sm', color: 'text-slate-600' }"
          >
            <span class="flex items-center"> <span class="material-icons px-1">arrow_back</span>&nbsp;Back </span>
          </brave-links-onlytext-button>
        </brave-outline-ssn-full-form>
      </div>

      <h3 *ngIf="ssnError" class="text-red-500">Please enter your 9-digit social security number</h3>

      <p *ngIf="showError" class="mb-2 text-sm text-red-500">
        {{ errorMessage }}
      </p>
    </div>
  </div>
</div>
