<ng-container *ngIf="model.negativeAccounts.length; else noNegative">
  <div class="mb-2">
    <h2 class="font-semibold text-lg">{{ content.hasNegativeAccounts.h2 }}</h2>
    <p class="text-brave-critical text-xs">{{ content.hasNegativeAccounts.p1 }}</p>
  </div>
  <p class="text-sm mb-1">{{ content.hasNegativeAccounts.p2 }}</p>
  <p class="text-sm mb-6">{{ content.hasNegativeAccounts.p3 }}</p>
  <div *ngFor="let negativeAccounts of model.negativeAccounts">
    <brave-account-summary-with-details
      [showConfirmButton]="false"
      [showDisputeButton]="true"
      [tradelineDetailsConfig]="negativeAccounts | tradelineToDetails"
    >
    </brave-account-summary-with-details>
  </div>
</ng-container>

<ng-template #noNegative>
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full max-w-xs">
      <div class="relative flex flex-col min-w-0 w-full mb-6 border-0">
        <div class="flex justify-center mb-6">
          <img class="h-64 w-64" src="https://d3e1i93f88eoxl.cloudfront.net/no_negative_accounts.svg" />
        </div>
        <div class="mb-10">
          <p class="brave-body1-semibold text-center">{{ content.noNegativeAccounts.p1 }}</p>
        </div>
        <div class="mb-9">
          <p class="brave-body1 text-center">{{ content.noNegativeAccounts.p2 }}</p>
        </div>
        <div class="mb-12">
          <brave-links-onlytext-button (click)="navigate(routes.root.dashboard.report.full)">
            <span class="brave-body1-semibold text-indigo-800">{{ content.noNegativeAccounts.b1 }}</span>
          </brave-links-onlytext-button>
        </div>
        <div>
          <brave-links-onlytext-button (click)="navigate(routes.root.dashboard.init.full)">
            <span class="brave-body1-semibold">{{ content.noNegativeAccounts.b2 }}</span>
          </brave-links-onlytext-button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
