<form [formGroup]="parentForm" (ngSubmit)="submitForm()">
  <div class="flex justify-center">
    <brave-outline-input-ssn
      [required]="true"
      [asteriskOverride]="true"
      [config]="full"
      [minLength]="full.minLength"
      (onComponentReady)="addChild('full', $event)"
    >
    </brave-outline-input-ssn>
  </div>

  <div class="mt-5">
    <div class="flex flex-row-reverse justify-between items-center">
      <brave-filled-spinning-button #spinner type="submit" [disabled]="!parentForm?.valid">
        <span class="flex items-center">Continue<span class="material-icons px-1">arrow_forward</span></span>
      </brave-filled-spinning-button>
      <ng-content></ng-content>
    </div>
  </div>
</form>
