<div class="flex content-center items-center justify-center h-full">
  <div class="w-full max-w-xs">
    <div class="relative flex flex-col min-w-0 w-full mb-6 border-0">
      <!-- header -->
      <div class="py-3">
        <h4 class="brave-h4 text-indigo-800">Phone Number</h4>
      </div>

      <!-- subheader -->
      <div class="py-3">
        <div class="text-base">
          <p class="mb-6 text-blueGray-600">To complete your authentication, we need to confirm your phone number.</p>
          <p class="mb-6 text-blueGray-600">
            Please enter your cell phone number below. We will text you a 5-digit code.
          </p>
        </div>
      </div>

      <!-- subheader -->
      <div class="py-3">
        <div class="text-sm">
          <p class="mb-6 text-blueGray-600">Standard data and messaging rates may apply.</p>
        </div>
      </div>

      <!-- form -->
      <div class="py-3 pt-0">
        <brave-outline-phone-form
          #form
          (onSubmit)="formSubmit.emit($event)"
          (onSubmitError)="formError.emit($event)"
        ></brave-outline-phone-form>
      </div>

      <div class="mb-6">
        <p *ngIf="!hasError" class="text-sm text-transparent">&nbsp;</p>
        <p *ngIf="hasError" class="text-sm text-red-500">Missing required information</p>
      </div>

      <div>
        <div class="flex justify-between items-center">
          <brave-links-onlytext-button
            (click)="backClick.emit()"
            [config]="{ buttonSize: 'sm', color: 'text-blueGray-600' }"
          >
            <span class="flex items-center"> <span class="material-icons px-1">arrow_back</span>&nbsp;Back </span>
          </brave-links-onlytext-button>
          <brave-filled-spinning-button (click)="form.submitForm()">
            <span class="flex items-center">Continue<span class="material-icons px-1">arrow_forward</span></span>
          </brave-filled-spinning-button>
        </div>
      </div>
    </div>
  </div>
</div>
