<div class="flex items-center">
  <span class="material-icons-outlined"> assignment </span>
  <span class="ml-3">{{ dispute.parsedValue || missing }}</span>
</div>
<div class="grid grid-cols-2 gap-2 mb-2">
  <div>
    <p class="text-xs font-dk-gray">Date Updated</p>
  </div>
  <div>
    <p class="text-xs font-semibold text-right">
      {{ (dispute.dateUpdated | date) || missing }}
    </p>
  </div>
  <div>
    <p class="text-xs font-dk-gray">Action</p>
  </div>
  <div>
    <p class="text-xs font-semibold text-right">Delete</p>
  </div>
</div>
