<div class="container mx-auto max-w-xs h-full">
  <div class="mb-2">
    <h2 class="font-semibold text-lg">New Negative Accounts</h2>
    <span><p class="text-brave-critical text-xs">High Score Impact</p></span>
  </div>
  <span
    ><p class="text-sm mb-1">
      These are new negative accounts in the last 30 days that are in
      collections, have been charged off, or have late payments.
    </p></span
  >
  <span
    ><p class="text-sm mb-1">
      Review the accounts for accuracy, and if you see an error, you can dispute
      them.
    </p></span
  >
  <div *ngFor="let card of cards">
    <brave-negative-account-card
      [creditorName]="card.creditorName || ''"
      [lastReported]="card.lastReported || ''"
      [accountTypeDescription]="card.accountTypeDescription || ''"
      [accountTypeDescriptionValue]="card.accountTypeDescriptionValue || ''"
      [originalCreditor]="card.originalCreditor || ''"
      [originalCreditorValue]="card.originalCreditorValue || ''"
      [disputeFlag]="card.disputeFlag || ''"
      [disputeFlagValue]="card.disputeFlagValue || ''"
      [accountNumber]="card.accountDetail?.accountNumber || ''"
      [typeOfCollection]="card.accountDetail?.typeOfCollection || ''"
      [amountPastDue]="card.accountDetail?.amountPastDue || 0"
      [dateOpened]="card.accountDetail?.dateOpened || ''"
      [dateLastPayment]="card.accountDetail?.dateLastPayment || ''"
    ></brave-negative-account-card>
  </div>
</div>
