<div *ngIf="viewDisplay === 'not-sent'">
  <p class="text-lg mt-4 mb-4">New Dispute</p>
  <brave-account-summary-with-details
    class="mt-4"
    [showDisputeButton]="false"
  ></brave-account-summary-with-details>
  <brave-dispute-base
    [initialStepId]="'select'"
    (disputeProcessResult)="processResult.emit({ result: $event, publicItem: dispute?.publicPartition })"
    [firstOptionReasonPages]="pageOne"
    [secondOptionReasonPages]="pageTwo"
    [secondOptionDescription]="'Public record information is inaccurate'"
    [processReasons]="reasons"
  >
  </brave-dispute-base>
</div>

<div *ngIf="viewDisplay === 'sent'">
  <brave-disputes-success></brave-disputes-success>
</div>
