<div class="mx-4 text-gray-900">
  <div class="flex items-center py-3 ">
    <span class="material-icons-outlined">{{ iconName }}</span>
    <span class="ml-2 font-semibold">{{ title }}</span>
    <span class="ml-auto material-icons-outlined" *ngIf="!isDetailDescriptionOpened || isSettingUpdated" (click)="navigateToDescription()">chevron_right</span>
  </div>
  <div class="mt-4" *ngIf="!disableNavigation">
    <ng-content *ngIf="isDetailDescriptionOpened"></ng-content>
    <div *ngIf="isSettingUpdated">
      <div class="mx-auto mt-10 h-24 w-24 rounded-full bg-black"></div>
      <p class="mt-2">{{ successMessage }}</p>
      <brave-links-onlytext-button (click)="goBack()">Go Back to Settings</brave-links-onlytext-button>
    </div>
  </div>
</div>