<!-- ============================== -->
<!--       REV/INST ACCOUNTS        -->
<!-- ============================== -->
<div *ngIf="mapperType === 'revolving' || mapperType === 'installment'" class="divide-y divide-blueGray-300">
  <!-- Account Number -->
  <div class="py-2 px-1">
    <brave-tradeline-detail-row
      [label]="mapper['accountNumber']"
      [value]="config.accountNumber"
    ></brave-tradeline-detail-row>
  </div>

  <!-- Type of account -->
  <div class="py-2 px-1">
    <brave-tradeline-detail-row [label]="mapper['creditType']" [value]="config.creditType"></brave-tradeline-detail-row>
  </div>

  <!-- Date Openend -->
  <div class="py-2 px-1">
    <brave-tradeline-detail-row [label]="mapper['dateOpened']" [value]="config.dateOpened"></brave-tradeline-detail-row>
  </div>

  <!-- Date Closed -->
  <div class="py-2 px-1">
    <brave-tradeline-detail-row [label]="mapper['dateClosed']" [value]="config.dateClosed"></brave-tradeline-detail-row>
  </div>

  <!-- Credit Limit -->
  <div class="py-2 px-1">
    <brave-tradeline-detail-row
      [label]="mapper['creditLimit']"
      [value]="config.creditLimit"
    ></brave-tradeline-detail-row>
  </div>

  <!-- Term -->
  <div class="py-2 px-1">
    <brave-tradeline-detail-row [label]="mapper['termMonths']" [value]="config.termMonths"></brave-tradeline-detail-row>
  </div>

  <!-- Monthly payments -->
  <div class="py-2 px-1">
    <brave-tradeline-detail-row
      [label]="mapper['monthlyPayment']"
      [value]="config.monthlyPayment"
    ></brave-tradeline-detail-row>
  </div>

  <!-- account designator -->
  <div class="py-2 px-1">
    <brave-tradeline-detail-row
      [label]="mapper['accountDesignator']"
      [value]="config.accountDesignator"
    ></brave-tradeline-detail-row>
  </div>

  <!-- current balance -->
  <div class="py-2 px-1">
    <brave-tradeline-detail-row
      [label]="mapper['currentBalance']"
      [value]="config.currentBalance"
    ></brave-tradeline-detail-row>
  </div>

  <!-- dispute flag -->
  <div class="py-2 px-1">
    <brave-tradeline-detail-row
      [label]="mapper['disputeFlag']"
      [value]="config.disputeFlag"
    ></brave-tradeline-detail-row>
  </div>

  <!-- spacer for bottom -->
  <div></div>
</div>

<!-- ============================== -->
<!--        COLLECT ACCOUNTS        -->
<!-- ============================== -->
<div *ngIf="mapperType === 'collections'" class="divide-y divide-blueGray-300">
  <!-- Original Creditor -->
  <div class="py-2 px-1">
    <brave-tradeline-detail-row
      [label]="mapper['originalCreditor']"
      [value]="config.originalCreditor"
    ></brave-tradeline-detail-row>
  </div>

  <!-- Type of account -->
  <div class="py-2 px-1">
    <brave-tradeline-detail-row [label]="mapper['creditType']" [value]="config.creditType"></brave-tradeline-detail-row>
  </div>

  <!-- Date Openend -->
  <div class="py-2 px-1">
    <brave-tradeline-detail-row [label]="mapper['dateOpened']" [value]="config.dateOpened"></brave-tradeline-detail-row>
  </div>

  <!-- Disputed -->
  <div class="py-2 px-1">
    <brave-tradeline-detail-row
      [label]="mapper['disputeFlag']"
      [value]="config.disputeFlag"
    ></brave-tradeline-detail-row>
  </div>
  <!-- spacer for bottom -->
  <div></div>
</div>

<!-- ============================== -->
<!--        DISPUTE PAGE 1        -->
<!-- ============================== -->
<div *ngIf="mapperType === 'disputeOne'" class="divide-y divide-blueGray-300">
  <!-- Account Number -->
  <div class="py-2 px-1">
    <brave-tradeline-detail-row
      [label]="mapper['accountNumber']"
      [value]="config.accountNumber"
    ></brave-tradeline-detail-row>
  </div>

  <!-- Type of account -->
  <div class="py-2 px-1">
    <brave-tradeline-detail-row [label]="mapper['creditType']" [value]="config.creditType"></brave-tradeline-detail-row>
  </div>

  <!-- Date Openend -->
  <div class="py-2 px-1">
    <brave-tradeline-detail-row [label]="mapper['dateOpened']" [value]="config.dateOpened"></brave-tradeline-detail-row>
  </div>

  <!-- Date Closed -->
  <div class="py-2 px-1">
    <brave-tradeline-detail-row [label]="mapper['dateClosed']" [value]="config.dateClosed"></brave-tradeline-detail-row>
  </div>

  <!-- Credit Limit -->
  <div class="py-2 px-1">
    <brave-tradeline-detail-row
      [label]="mapper['creditLimit']"
      [value]="config.creditLimit"
    ></brave-tradeline-detail-row>
  </div>

  <!-- Term -->
  <div class="py-2 px-1">
    <brave-tradeline-detail-row [label]="mapper['termMonths']" [value]="config.termMonths"></brave-tradeline-detail-row>
  </div>

  <!-- spacer for bottom -->
  <div></div>
</div>

<!-- ============================== -->
<!--        DISPUTE PAGE 2        -->
<!-- ============================== -->
<div *ngIf="mapperType === 'disputeTwo'" class="divide-y divide-blueGray-300">
  <!-- Monthly payments -->
  <div class="py-2 px-1">
    <brave-tradeline-detail-row
      [label]="mapper['monthlyPayment']"
      [value]="config.monthlyPayment"
    ></brave-tradeline-detail-row>
  </div>

  <!-- account designator -->
  <div class="py-2 px-1">
    <brave-tradeline-detail-row
      [label]="mapper['accountDesignator']"
      [value]="config.accountDesignator"
    ></brave-tradeline-detail-row>
  </div>

  <!-- current balance -->
  <div class="py-2 px-1">
    <brave-tradeline-detail-row
      [label]="mapper['currentBalance']"
      [value]="config.currentBalance"
    ></brave-tradeline-detail-row>
  </div>

  <!-- dispute flag -->
  <div class="py-2 px-1">
    <brave-tradeline-detail-row
      [label]="mapper['disputeFlag']"
      [value]="config.disputeFlag"
    ></brave-tradeline-detail-row>
  </div>

  <!-- spacer for bottom -->
  <div></div>
</div>
