<div class="flex justify-around">
  <brave-percentage-badge
    size="small"
    text="Excellent"
    label="0-9%"
    color="#4BD269"
    class="w-full mx-0.5 sm:mx-1"
  ></brave-percentage-badge>
  <brave-percentage-badge
    size="small"
    text="Good"
    label="10-29%"
    color="#BBD904"
    class="w-full mx-0.5 sm:mx-1"
  ></brave-percentage-badge>
  <brave-percentage-badge
    size="small"
    text="Fair"
    label="30-49%"
    color="#F59300"
    class="w-full mx-0.5 sm:mx-1"
  ></brave-percentage-badge>
  <brave-percentage-badge
    size="small"
    text="Poor"
    label="50-74%"
    color="#F56700"
    class="w-full mx-0.5 sm:mx-1"
  ></brave-percentage-badge>
  <brave-percentage-badge
    size="small"
    text="Very Poor"
    label="75%+"
    color="#E93C25"
    class="w-full mx-0.5 sm:mx-1"
  ></brave-percentage-badge>
</div>
