<div class="w-full p-4" *ngIf="getLastNavigationStackId() === 'select'">  
  <p class="text-lg">Which option matches your request?</p>
  <form class="mt-4"> 
    <div class="flex items-center">
      <input type="radio" name="disputeType" value="not-mine" (change)="onRadioChanges($event)">
      <label class="ml-4">This is not mine</label>
    </div>
    <div class="flex items-center">
      <input type="radio" name="disputeType" value="inaccurate" (change)="onRadioChanges($event)">
      <label class="ml-4">This is inaccurate</label>
    </div>
  </form>
  <div class="flex justify-center mt-4">
    <brave-filled-onlytext-button class="{{ disputeType === undefined ? 'pointer-events-none' : '' }}" [config]="getButtonConfig()" (click)="goToReasons()">Continue</brave-filled-onlytext-button>
  </div>
</div>
<div class="w-full" *ngIf="getLastNavigationStackId() === 'reason'">
  <div class="w-full" (swipe)="onSwipe($event)">
    <ng-template ngFor let-page [ngForOf]="reasonOptionPages" let-pageIndex="index">
      <ng-template [ngIf]="(basePagination.currentActivePage$ | async)?.valueOf() === page.pageIndex">
        <div class="mt-4"  *ngFor="let reason of page.items; let itemIndex = index">
          <brave-reason-card 
          (clicked)="switchOption(pageIndex, itemIndex)"
          [allowUserInput]="reason.allowUserInput || false"
          [text]="reason.reason.text"
          [customUserInput]="customReason"
          (customInputChanged)="customReason = $event"
          [isSelected]="isSelected(pageIndex, itemIndex)"
          [userInputDescriptionText]="reason.userInputDescriptionText">
        </brave-reason-card>
        </div>
      </ng-template>
    </ng-template>
  </div>
  <div class="p-4">
    <brave-base-pagination #basePagination paginationStyle="point" [numberOfPages]="reasonOptionPages.length"></brave-base-pagination>
  </div>
  <div class="p-4">
    <p class="text-lg font-bold mb-2">Reason(s) selected:</p>
    <span class="text-sm" *ngIf="selectedIndexes.length === 0">You have not selected any reasons.</span>
    <div>
      <div class="mt-4" *ngFor="let indexObj of selectedIndexes">
        <brave-reason-card 
        (clicked)="switchOption(indexObj.pageIndex, indexObj.itemIndex)"
        [allowUserInput]="false"
        [text]="getTargetSelectedPageItem(indexObj).reason.text"
        [isSelected]="isSelected(indexObj.pageIndex, indexObj.itemIndex)"
        [userInputDescriptionText]="getTargetSelectedPageItem(indexObj).reason.userInputDescriptionText || ''"></brave-reason-card>
      </div>
    </div>
    <div class="flex justify-center">
      <brave-filled-onlytext-button class="mt-4" (click)="goToSummary()">Continue to your summary</brave-filled-onlytext-button>
    </div>
    <div *ngIf="showCustomInputError || showMaxError" class="fixed inset-x-0 bottom-0 mb-4 g-red-500 text-white bg-red-600 font-bold text-sm px-6 rounded shadow hover:shadow-lg outline-none focus:outline-none ease-linear transition-all duration-150">
      <p>You can only choose 2 preset reasons and only 1 custom reason</p>
    </div>
  </div>
</div>
<div *ngIf="getLastNavigationStackId() === 'summary'">
  <div class="p-4">
    <p class="text-lg font-bold mb-6">Reason(s)</p>
    <div class="mt-4" *ngFor="let indexObj of selectedIndexes">
        <brave-reason-card 
        [allowUserInput]="false"
        [text]="getTargetSelectedPageItem(indexObj).reason.text"
        [isSelected]="isSelected(indexObj.pageIndex, indexObj.itemIndex)"
        [userInputDescriptionText]="getTargetSelectedPageItem(indexObj).reason.userInputDescriptionText || ''"></brave-reason-card>
    </div>
  </div>
  <brave-conditional-term
    (accepted)="sendDispute()"
    title="Dispute Terms & Conditions"
    termDescription="I have carefully reviewed my dispute request and, to the best of my knowledge and belief, all the information provided is accurate and true. The dispute process can take up to 30 days and could take longer. In accordance to with the Fair Credit Act and applicable state laws on reporting, Transunion does not change or remove from your credit report accurate information or information verified as accurate">
    <div>
      <p class="text-sm">By submitting your dispute request below, you are authorizing Brave Credit to transmit such request to TransUnion, LLC (“TransUnion”). You understand that Brave Credit provides this service as a convenient method for its members to submit certain dispute requests to TransUnion and to check the status or results of such dispute requests, but that Brave Credit itself does not process dispute requests and is not responsible for investigating or correcting errors in your credit report. Once submitted to TransUnion, you must contact TransUnion directly to cancel or modify your dispute request, including if you would like to send additional information or documentation in support of your dispute request. </p>
    </div>
  </brave-conditional-term>
</div>
