<div class="w-full p-4" *ngIf="currentView === 'select'">
  <p class="text-lg">Which option matches your request?</p>
  <form class="mt-4">
    <div class="flex items-center">
      <input type="radio" name="disputeType" value="not-mine" (change)="onRadioChanges($event)" />
      <label class="ml-4">{{ firstOptionDescription }}</label>
    </div>
    <div class="flex items-center">
      <input type="radio" name="disputeType" value="inaccurate" (change)="onRadioChanges($event)" />
      <label class="ml-4">{{ secondOptionDescription }}</label>
    </div>
  </form>
  <div class="flex justify-center mt-4">
    <brave-filled-onlytext-button
      class="{{ disputeType === undefined ? 'pointer-events-none' : '' }}"
      [config]="getButtonConfig()"
      (click)="goToReasons()"
      >Continue</brave-filled-onlytext-button
    >
  </div>
</div>

<div class="w-full" *ngIf="currentView === 'reason'">
  <p class="text-lg font-bold mb-2">{{ disputeType !== 'not-mine' ? content.p1 : content.p2 }}</p>
  <div class="w-full">
    <ng-container *ngIf="reasonCards | reasonsToPages: (disputeType === 'not-mine' ? 5 : 4) as pages">
      <brave-basic-carousel [pages]="pages.pages" [data]="pages.data"> </brave-basic-carousel>
    </ng-container>
  </div>
  <div class="p-4">
    <p class="text-lg font-bold mb-2">{{ content.p3 }}</p>
    <p class="text-sm" *ngIf="selections.length === 0">{{ content.p4 }}</p>
    <div>
      <div class="mt-4" *ngFor="let selection of selections; index as idx">
        <brave-reason-card
          #selectionCard
          [selected]="true"
          [label]="selection?.reason?.text || ''"
          [showInput]="true"
          [allowInput]="selection?.allowInput || false"
          (textChange)="onTextChange($event, idx)"
          (toggleClick)="removeSelection(idx)"
        ></brave-reason-card>
      </div>
    </div>
    <div class="flex justify-center">
      <brave-filled-onlytext-button class="mt-4" (click)="goToSummary()">{{ content.b1 }}</brave-filled-onlytext-button>
    </div>
    <div
      *ngIf="showMaxError"
      class="mb-4 text-white bg-red-600 font-bold text-sm text-center px-6 rounded shadow hover:shadow-lg outline-none focus:outline-none ease-linear transition-all duration-150"
    >
      <p>{{ content.p5 }}</p>
    </div>
  </div>
</div>

<div *ngIf="currentView === 'summary'">
  <div class="p-4">
    <p class="text-lg font-bold mb-6">{{ content.p6 }}</p>
    <div class="mt-4" *ngFor="let selection of selections">
      <brave-reason-card
        [selected]="true"
        [label]="selection?.reason?.text || ''"
        [input]="selection?.customInput || ''"
        [showInput]="true"
        [allowInput]="selection?.allowInput || false"
      ></brave-reason-card>
    </div>
  </div>
  <brave-dispute-conditional-terms (accepted)="sendDispute()">
    <p class="text-sm">{{ content.p7 }}</p>
  </brave-dispute-conditional-terms>
</div>

<brave-confirmation-modal
  #modal
  (confirmed)="onConfirmed($event)"
  [btnTextConfirm]="modalContent.btnTextConfirm"
  [btnTextCancel]="modalContent.btnTextCancel"
>
  <p class="font-semibold text-sm">{{ modalContent.alertHeader }}</p>
  <p class="text-xs">{{ modalContent.alertSubheaderOne }}</p>
  <p class="text-xs">{{ modalContent.alertSubheaderTwo }}</p>
</brave-confirmation-modal>
