<div class="min-w-full flex justify-evenly mb-8">
  <div class="flex flex-col justify-center items-center">
    <div
      class="flex justify-center items-center mb-2 rounded-3xl"
      style="
        height: 40px;
        width: 40px;
      "
      [ngStyle]="{'background-color': model.hasCreditCards ? '#222C9D' : '#c4c4c4'}"
    >
      <span
        class="material-icons-outlined text-2xl"
        style="color: white"
      >
        credit_card
      </span>
    </div>
    <div class="font-semibold" style="font-size: 9px">{{CREDIT_MIX_CONTENT.creditMixInitial.creditMixIcons.div1}}</div>
  </div>
  <div class="flex flex-col justify-center items-center">
    <div
      class="flex justify-center items-center mb-2 rounded-3xl"
      style="
        height: 40px;
        width: 40px;
      "
      [ngStyle]="{'background-color': model.hasStudentLoans ? '#222C9D' : '#c4c4c4'}"
    >
      <span
        class="material-icons-outlined text-2xl"
        style="color: white"
      >
        paid
      </span>
    </div>
    <div class="font-semibold" style="font-size: 9px">{{CREDIT_MIX_CONTENT.creditMixInitial.creditMixIcons.div2}}</div>
  </div>
  <div class="flex flex-col justify-center items-center">
    <div
      class="flex justify-center items-center mb-2 rounded-3xl"
      style="
        height: 40px;
        width: 40px;
      "
      [ngStyle]="{'background-color':model.hasAutoLoans ? '#222C9D' : '#c4c4c4'}"
    >
      <span
        class="material-icons-outlined text-2xl"
        style="color: white"
      >
        directions_car_filled
      </span>
    </div>
    <div class="font-semibold" style="font-size: 9px">{{CREDIT_MIX_CONTENT.creditMixInitial.creditMixIcons.div3}}</div>
  </div>
  <div class="flex flex-col justify-center items-center">
    <div
      class="flex justify-center items-center mb-2 rounded-3xl"
      style="
        height: 40px;
        width: 40px;
      "
      [ngStyle]="{'background-color': model.hasMortgages ? '#222C9D' : '#c4c4c4'}"
    >
      <span
        class="material-icons-outlined text-2xl"
        style="color: white"
      >
        cottage
      </span>
    </div>
    <div class="font-semibold" style="font-size: 9px">{{CREDIT_MIX_CONTENT.creditMixInitial.creditMixIcons.div4}}</div>
  </div>
</div>
