<!-- logo -->
<div class="flex justify-start">
  <img class="w-16 h-16" src="assets/img/brave-logo-blurple.svg" />
</div>
<h2 class="text-lg font-semibold">{{ userName === '' ? defaultMsg : initialMsg }}</h2>

<div class="my-2">
  <brave-credit-report-graphic-with-graph></brave-credit-report-graphic-with-graph>
</div>

<h2 class="mb-1 text-lg font-semibold">Your Credit Snapshot</h2>
<p *ngIf="lastUpdated !== undefined" class="text-xs mb-1">Last Updated {{ lastUpdated }}</p>
<brave-snapshot-display-card
  tendency="up"
  label="hidden"
  status="critical"
  title="New Negative Accounts"
  typeOfSnapshot="time"
></brave-snapshot-display-card>
<brave-snapshot-display-card
  tendency="down"
  label="update"
  status="safe"
  title="Age of Credit"
  typeOfSnapshot="time"
  typeOfDate="Years"
></brave-snapshot-display-card>
<brave-snapshot-display-card
  tendency="down"
  label="update"
  status="danger"
  title="Credit Mix"
  typeOfSnapshot="tag"
  typeOfDate="Years"
></brave-snapshot-display-card>
<brave-snapshot-display-card
  tendency="no-tendency"
  [label]="new"
  status="danger"
  title="Credit Card Utilization"
  typeOfSnapshot="percentage"
></brave-snapshot-display-card>
<brave-links-onlytext-button class="w-full">View Full Credit Report</brave-links-onlytext-button>
<h5 class="mb-2 font-semibold text-lg">Take Control</h5>
<h6 class="mb-4 text-sm">Trusted, affordable products no matter your credit situation</h6>
<brave-credit-builder-card class="mt-2"></brave-credit-builder-card>
