<div class="h-full flex flex-col items-center rounded-l-md bg-indigo-700 pt-3 pb-5 px-4">
  <p class="font-bold text-white">Your Score</p>
  <div class="font-bold text-white flex mt-3">
    <div class="mr-2 text-2xl -mt-2">
      <span
        class="material-icons align-bottom transform"
        [ngClass]="ptsChange < 0 ? 'rotate-90 text-red-500' : '-rotate-90 text-fuchsia-500'"
      >
        play_arrow
      </span>
    </div>
    <span>{{ ptsChange >= 0 ? '+' : '' }}{{ ptsChange }} points</span>
  </div>
  <p class="text-white text-xs text-opacity-50 mt-1">since last month</p>
  <p class="text-5xl text-white font-bold my-4">{{ currentValue }}</p>
  <p class="text-white font-extrabold">{{ currentValue | creditReportGraphic: 'status' }}</p>
  <div class="relative mt-2 h-4 w-full bg-gradient-to-r from-orange-500 via-yelow-300 to-emerald-400">
    <div [ngStyle]="{ left: percentageStr }" class="absolute text-2xl text-white">
      <span class="material-icons text-white align-bottom transform -rotate-90"> play_arrow </span>
    </div>
  </div>
  <div class="w-full flex justify-between mt-2">
    <div>
      <p class="text-white text-xs font-bold">{{ base }}</p>
    </div>
    <div>
      <p class="text-white text-xs font-bold">{{ limit }}</p>
    </div>
  </div>
  <p class="mt-4 mb-2 text-lg font-bold text-white text-center">
    VantageScore<span class="inline-block text-xs align-text-top">&#174;</span>&nbsp; by TransUnion<span
      class="inline-block text-xs align-text-top"
      >&#174;</span
    >
  </p>
</div>
