<div class="container mx-auto max-w-xs h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full max-w-xs">
      <div class="relative flex flex-col min-w-0 w-full mb-6 border-0">
        <!-- header -->
        <div class="py-3">
          <h4 class="brave-h4 text-indigo-800">ID Verification</h4>
        </div>

        <!-- subheader -->
        <div *ngIf="state === 'init'" class="py-3">
          <div class="text-base">
            <p class="mb-6 text-blueGray-600">
              Please enter the 5-digit code you just received to the phone
              number you provided in the box below.
            </p>
          </div>
        </div>

        <!-- subheader -->
        <div *ngIf="state === 'sent'" class="py-3">
          <div class="text-base">
            <p class="mb-6 text-blueGray-600">
              We have texted you a new code. Please enter the new code in the
              box below.
            </p>
          </div>
        </div>

        <!-- subheader -->
        <div *ngIf="state === 'error'" class="py-3">
          <div class="text-base">
            <p class="mb-6 text-blueGray-600">
              The code you entered was incorrect, please try again.
            </p>
          </div>
        </div>

        <!-- subheader -->
        <div class="py-3">
          <div class="text-sm">
            <p class="mb-6 text-blueGray-600">
              Code will expire in 15 minutes.
            </p>
          </div>
        </div>

        <!-- form -->
        <div class="py-3 pt-0">
          <brave-outline-verificationcode-form></brave-outline-verificationcode-form>
        </div>

        <div class="py-3 pt-0">
          <div class="-ml-3">
            <brave-links-onlytext-button
              (click)="resendCode()"
              [config]="{ buttonSize: 'sm', color: 'text-blueGray-600' }"
              ><span class="underline"
                >Resend code</span
              ></brave-links-onlytext-button
            >
          </div>
        </div>

        <div class="mt-5">
          <div class="flex justify-between items-center">
            <brave-links-onlytext-button
              (click)="goBack()"
              [config]="{ buttonSize: 'sm', color: 'text-blueGray-600' }"
            >
              <span class="flex items-center">
                <span class="material-icons px-1">arrow_back</span>&nbsp;Back
              </span>
            </brave-links-onlytext-button>
            <brave-filled-onlytext-button (click)="goToNext()"
              ><span class="flex items-center"
                >Continue<span class="material-icons px-1"
                  >arrow_forward</span
                ></span
              ></brave-filled-onlytext-button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
