<div>
  <div class="mx-3 py-4">
    <p class="text-lg font-semibold">Dispute Results</p>
  </div>
  <div class="mx-3">
    <div class="flex justify-between">
      <p class="text-sm">Report Created On:</p>
      <p class="text-sm text-right">{{ reportCreatedAt | date: 'short' }}</p>
    </div>
    <div class="flex justify-between">
      <p class="text-sm">File Identification Number:</p>
      <p class="text-sm text-right">{{ fileIdentificationNumber }}</p>
    </div>
  </div>
  <div class="h-1 border-t mx-3 mt-8 border-blueGray-800 opacity-50"></div>
  <div class="flex justify-center">
    <brave-links-onlytext-button (click)="print()">Print Dispute Results</brave-links-onlytext-button>
  </div>
</div>
