<div class="flex justify-center items-center flex-col mt-6 rounded-lg p-4 bg-blue-300">
  <div class="flex justify-between">
    <div
      class="flex items-center flex-col pr-2 border border-t-0 border-b-0 border-l-0 border-solid border-black"
      style="max-width: 50%; border-right-width: 1px"
    >
      <h1 class="md:text-2xl text-xl text-center">{{PROGRESS_TRACKER_CONTENT.progressTrackerInitial.futureScoreCard.h1}}</h1>
      <p class="text-5xl mt-4 font-headings">{{ model.dashScore }}</p>
      <p>{{model.scoreReview }}</p>
      <div class="flex mt-2 items-center">
        <span
          class="text-2xl material-icons align-bottom transform mr-2 mt-1"
          [ngClass]="
          model.dashDelta && model.dashDelta !== 0
              ? model.dashDelta < 0
                ? 'rotate-90 text-red-500'
                : '-rotate-90 text-emerald-600'
              : ''
          "
        >
          play_arrow
        </span>
        <div class="text-1xl text-white">
          <span>{{ model.dashDelta && model.dashDelta > 0 ? '+' : '' }}{{ model.dashDelta }}</span>
          points
        </div>
      </div>
      <p class="text-sm text-center">
        <span *ngIf="model.dashDelta && model.dashDelta > 0"
          >Your score has improved {{ model.dashDelta }} points since the last update. Keep up the good work!</span
        >
        <span *ngIf="model.dashDelta === 0"
          >Your score has not changed since the last update. Having a variety of accounts can help you grow your
          score!</span
        >
        <span *ngIf="model.dashDelta && model.dashDelta < 0"
          >Your score has decreased {{ model.dashDelta }} points. Making on-time payments is the biggest way to get back on
          track.</span
        >
      </p>
    </div>

    <div
      class="flex text-white items-center flex-col pl-2 "
      style="max-width: 50%"
    >
      <h1 class="md:text-2xl text-xl text-center">{{PROGRESS_TRACKER_CONTENT.progressTrackerInitial.futureScoreCard.h2}}</h1>
      <p class="text-5xl mt-4 font-headings">{{ model.futureScore }}</p>
      <p>{{ model.scoreReview }}</p>
      <div class="flex mt-2 items-center">
        <span
          class="text-2xl material-icons align-bottom transform mr-4 mt-1"
          [ngClass]="
          model.pointsDiff && model.pointsDiff !== 0
              ? model.pointsDiff < 0
                ? 'rotate-90 text-red-500'
                : '-rotate-90 text-emerald-600'
              : ''
          "
        >
          play_arrow
        </span>
        <div class="text-1xl">
          <span>{{ model.pointsDiff > 0 ? '+' : '' }}{{ model.pointsDiff }}</span>
          points*
        </div>
      </div>
      <p class="text-sm text-center">
        {{PROGRESS_TRACKER_CONTENT.progressTrackerInitial.futureScoreCard.p1}}
      </p>
    </div>
  </div>

  <!-- <p class="text-xs">Based on initial {{ monthYear }} score of {{ enrolledScore }}</p> -->
</div>
