<div class="mx-3 mt-4">
  <div class="flex items-center">
    <div class="w-1 h-10 bg-purple-800 mr-4">
    </div>
    <p class="font-semibold">How to Read Your Investigation Results</p>
  </div>
  <p class="text-sm mt-4">You will see that, for each disputed item, a summary explanation is shown above it, followed by a brief paragraph describing the results of our investigation, followed by a view of how the item appears in your updated credit report. Please note any changes we made to personal information (name, address, employment, SSN, date of birth) will appear at the end of <b>Your Investigation Results.</b></p>
</div>
