<div class="m-1 p-4 rounded-lg border" [ngClass]="{ 'border-indigo-800': selected, 'border-slate-500': !selected }">
  <div>
    <div class="flex flex-row items-center">
      <span class="text-sm font-semibold">{{ label }}</span>
      <div class="ml-auto cursor-pointer flex justify-end" (click)="toggleClick.emit()">
        <span class="material-icons-outlined">{{ selected ? 'remove' : 'add' }}</span>
      </div>
    </div>
    <div *ngIf="selected && allowInput && showInput">
      <p class="my-2 text-sm font-semibold">{{ content.textAreaHeader }}</p>
      <p class="my-2 text-xs font-light">{{ content.textAreaSubheader }}</p>
      <textarea
        #textArea
        [ngModel]="input"
        (ngModelChange)="textChange.emit($event)"
        class="resize-none w-full rounded-sm h-32 text-xs bg-slate-300"
        placeholder="Add your reason to dispute here"
      ></textarea>
    </div>
  </div>
</div>
