<div class="flex flex-wrap">
  <div class="w-full bottom-0 left-0 upper-shadow bg-white">
    <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
      <li class="-mb-px mr-1 last:mr-0 flex-auto text-center">
        <a
          class="text-coolGray-700 flex flex-col items-center font-sans text-sm px-2 py-1 rounded block leading-normal"
          (click)="toggleTabs(1)">
          <span class="material-icons">home</span>
          <span class="text-2.5">Home</span>
        </a>
      </li>
      <li class="-mb-px mr-1 last:mr-0 flex-auto text-center">
        <a
          class="text-coolGray-700 flex flex-col items-center font-sans text-sm px-2 py-1 rounded block leading-normal"
          (click)="toggleTabs(2)">
	        <span class="material-icons">credit_card</span>
	        <span class="text-2.5">Credit</span>
        </a>
      </li>
      <li class="-mb-px mr-1 last:mr-0 flex-auto text-center">
        <a
          class="text-coolGray-700 flex flex-col items-center font-sans text-sm px-2 py-1 rounded block leading-normal"
          (click)="toggleTabs(3)">
		    	<span class="material-icons">store</span>
		    	<span class="text-2.5">Marketplace</span>
        </a>
      </li>
      <li class="-mb-px mr-1 last:mr-0 flex-auto text-center">
        <a
          class="text-coolGray-700 flex flex-col items-center font-sans text-sm px-2 py-1 rounded block leading-normal"
          (click)="toggleTabs(4)">
	        <span class="material-icons">account_box</span>
	        <span class="text-2.5">Account</span>
        </a>
      </li>
    </ul>
  </div>
</div>
