<brave-dispute-findings-header
  [reportCreatedAt]="reportCreatedAt"
  [fileIdentificationNumber]="fileIdentificationNumber"
></brave-dispute-findings-header>
<brave-dispute-findings-results></brave-dispute-findings-results>
<div class="h-1 border-t my-3 border-black opacity-50"></div>
<brave-dispute-findings-how-to-read></brave-dispute-findings-how-to-read>
<div class="h-1 border-t my-3 border-black opacity-50"></div>
<brave-dispute-findings-note-credit-report></brave-dispute-findings-note-credit-report>

<!-- SPECIFIC DEFINITIONS FOR TRADELINES AND PUBLIC RECORDS -->
<ng-container *ngIf="tradelineAccountConfig?.length">
  <brave-dispute-findings-definitions [type]="'accounts'"></brave-dispute-findings-definitions>
</ng-container>
<ng-container *ngIf="publicRecordConfig?.length">
  <brave-dispute-findings-definitions [type]="'public-records'"></brave-dispute-findings-definitions>
</ng-container>

<!-- // IS NOT DELETED = SHOW -->
<brave-dispute-findings-rating-key></brave-dispute-findings-rating-key>

<div class="mx-3 my-4">
  <div class="flex items-center py-3">
    <div class="w-1 h-5 bg-purple-800 mr-4"></div>
    <p class="font-semibold">Your Investigation Results</p>
  </div>

  <!-- TRADELINES -->
  <ng-container *ngFor="let tradeline of tradelineAccountConfig">
    <brave-dispute-findings-results-details
      [resultCode]="tradeline.summaryResultCode"
      [updatedValues]="[tradeline.summaryReason || 'Not Specified']"
    >
      <div class="mt-4">
        <p *ngFor="let value of tradeline?.contactDetails">{{value}}</p>
      </div>
      <ng-container *ngIf="tradeline?.tradeline">
        <brave-tradeline-details
          [tradeline]="tradeline.tradeline"
          [subscriber]="tradeline.subscriber"
        ></brave-tradeline-details>
      </ng-container>
    </brave-dispute-findings-results-details>
  </ng-container>

  <!-- PUBLIC ITEMS-->
  <ng-container *ngFor="let publicItem of publicRecordConfig">
    <brave-dispute-findings-results-details
      [resultCode]="publicItem.summaryResultCode"
      [updatedValues]="[publicItem.summaryReason || 'Not Specified']"
    >
      <div class="flex items-center mt-4 mb-3">
        <span>Account Details</span>
      </div>
      <brave-publicitems-details-table [config]="publicItem"></brave-publicitems-details-table>
    </brave-dispute-findings-results-details>
  </ng-container>

  <!-- PERSONAL ITEMS -->
  <ng-container *ngIf="!!personalInfoConfig">
    <div class="flex items-center mt-4 mb-3">
      <span>Personal Information Details</span>
    </div>
    <brave-personalitems-details-table
      [config]="personalInfoConfig.personalItem | personalitemsToDetails"
    ></brave-personalitems-details-table>
  </ng-container>
</div>

<div class="h-1 border-t my-3 border-black opacity-50"></div>
<brave-dispute-findings-closing-paragraph></brave-dispute-findings-closing-paragraph>
<div class="h-1 border-t my-3 border-black opacity-50"></div>
<brave-dispute-findings-contact-info
  [fileIdentificationNumber]="fileIdentificationNumber"
></brave-dispute-findings-contact-info>
<div class="h-1 border-t my-3 border-black opacity-50"></div>
<brave-dispute-findings-your-rights [stateOfResidence]="stateOfResidence"></brave-dispute-findings-your-rights>
