<div class="flex items-center mb-3">
  <div style="transform: rotate(180deg)"><span>&#10095;</span></div>
  <span class="ml-4">Back</span>
</div>
<brave-dispute-findings-header
  [reportCreatedAt]="reportCreatedAt"
  [fileIdentificationNumber]="fileIdentificationNumber"
></brave-dispute-findings-header>
<brave-dispute-findings-results></brave-dispute-findings-results>
<div class="h-1 border-t my-3 border-black opacity-50"></div>
<brave-dispute-findings-how-to-read></brave-dispute-findings-how-to-read>
<div class="h-1 border-t my-3 border-black opacity-50"></div>
<brave-dispute-findings-note-credit-report></brave-dispute-findings-note-credit-report>
<brave-dispute-findings-definitions
  *ngIf="type !== 'personal-info'"
  [type]="type === 'tradeline' ? 'accounts' : 'public-records'"
></brave-dispute-findings-definitions>
<!-- // IS NOT DELETED = SHOW -->
<brave-dispute-findings-rating-key></brave-dispute-findings-rating-key>
<brave-dispute-findings-results-details [resultCode]="resultCode" [updatedValues]="updatedValues">
  <div class="mt-4">
    <p>BMW Financial Services</p>
    <p>5550 Britton HWY</p>
    <p>Hilliard, OH 64578</p>
  </div>
  <ng-container *ngIf="type === 'tradeline'">
    <div class="flex items-center mt-4 mb-3">
      <span>Account Details</span>
    </div>
    <brave-tradeline-details-table
      *ngIf="tradelineAccountConfig"
      [config]="tradelineAccountConfig"
    ></brave-tradeline-details-table>
    <brave-tradeline-payment-history></brave-tradeline-payment-history>
  </ng-container>
  <ng-container *ngIf="type === 'public-record'">
    <div class="flex items-center mt-4 mb-3">
      <span>Public Records Details</span>
    </div>
    <div>
      <brave-base-table-row
        [enableSeparator]="true"
        label="Docket Number"
        [value]="publicRecordConfig!.docketNumber"
      ></brave-base-table-row>
      <brave-base-table-row
        [enableSeparator]="true"
        label="Name"
        [value]="publicRecordConfig!.name"
      ></brave-base-table-row>
      <brave-base-table-row
        [enableSeparator]="true"
        label="Date Filed"
        [value]="publicRecordConfig!.dateFiled"
      ></brave-base-table-row>
      <brave-base-table-row
        [enableSeparator]="true"
        label="Date Paid"
        [value]="publicRecordConfig!.datePaid"
      ></brave-base-table-row>
      <brave-base-table-row
        [enableSeparator]="true"
        label="Date Updated"
        [value]="publicRecordConfig!.dateUpdated"
      ></brave-base-table-row>
      <brave-base-table-row
        [enableSeparator]="true"
        label="Type"
        [value]="publicRecordConfig!.type"
      ></brave-base-table-row>
      <brave-base-table-row
        [enableSeparator]="true"
        label="Responsability"
        [value]="publicRecordConfig!.responsability"
      ></brave-base-table-row>
      <brave-base-table-row
        [enableSeparator]="true"
        label="Amount"
        [value]="publicRecordConfig!.amount"
      ></brave-base-table-row>
      <brave-base-table-row
        [enableSeparator]="true"
        label="Court Type"
        [value]="publicRecordConfig!.courtType"
      ></brave-base-table-row>
      <brave-base-table-row
        label="Estimated month and year that this item will be removed"
        [value]="publicRecordConfig!.estMonthToBeRemoved"
      ></brave-base-table-row>
    </div>
  </ng-container>
  <ng-container *ngIf="type === 'personal-info'">
    <div class="flex items-center mt-4 mb-3">
      <span>Personal Information Details</span>
    </div>
    <div>
      <brave-base-table-row
        [enableSeparator]="true"
        label="Social Security Number"
        [value]="personalInfoConfig!.ssn"
      ></brave-base-table-row>
      <brave-base-table-row
        [enableSeparator]="true"
        label="Name"
        [value]="personalInfoConfig!.name"
      ></brave-base-table-row>
      <brave-base-table-row
        [enableSeparator]="true"
        label="Current Address"
        [value]="personalInfoConfig!.currentAddress"
      ></brave-base-table-row>
      <brave-base-table-row
        [enableSeparator]="true"
        label="Previous Address(es)"
        [value]="personalInfoConfig!.previousAddress"
      ></brave-base-table-row>
      <brave-base-table-row
        [enableSeparator]="true"
        label="Telephone"
        [value]="personalInfoConfig!.telephone"
      ></brave-base-table-row>
      <brave-base-table-row
        [enableSeparator]="true"
        label="Employer"
        [value]="personalInfoConfig!.employer"
      ></brave-base-table-row>
      <brave-base-table-row
        label="Previous Employer(s)"
        [value]="personalInfoConfig!.previousEmployer"
      ></brave-base-table-row>
    </div>
  </ng-container>
</brave-dispute-findings-results-details>
<div class="h-1 border-t my-3 border-black opacity-50"></div>
<brave-dispute-findings-closing-paragraph></brave-dispute-findings-closing-paragraph>
<div class="h-1 border-t my-3 border-black opacity-50"></div>
<brave-dispute-findings-contact-info
  [fileIdentificationNumber]="fileIdentificationNumber"
></brave-dispute-findings-contact-info>
