<div class="container mx-auto max-w-xs h-full">
  <brave-signup-pure
    (clickGoogle)="signUpWithGoogle()"
    (clickFacebook)="signUpWithFacebook()"
    (clickSignup)="signUpWithCognito($event)"
    (clickForgot)="goToForgot()"
    (clickLogin)="goToLogin()"
    (clickPrivacy)="goToPrivacy()"
    (clickTerms)="goToTerms()"
    (clickReferralTerms)="goToReferralTerms()"
    [viewState]="viewState"
    [message]="message"
    [hasReferralCode]='hasReferralCode'
    [validReferralCode]='validReferralCode'
  ></brave-signup-pure>
</div>
