<div class="container mx-auto max-w-xs h-full">

  <div class="flex justify-center items-center mb-4 flex-col">
    <p class="text-center text-red-700 font-bold mb-2">Brave Credit is currently not accepting new customers at this time.</p>
    <p class="text-center text-red-700 font-bold">We apologize for the inconvenience.</p>
  </div>

  <brave-signup-pure
    (clickGoogle)="signUpWithGoogle()"
    (clickFacebook)="signUpWithFacebook()"
    (clickSignup)="signUpWithCognito($event)"
    (clickForgot)="goToForgot()"
    (clickLogin)="goToLogin()"
    (clickPrivacy)="goToPrivacy()"
    (clickTerms)="goToTerms()"
    (clickReferralTerms)="goToReferralTerms()"
    [viewState]="viewState"
    [message]="message"
    [hasReferralCode]="hasReferralCode"
    [campaignActive]="campaignActive"
    [validReferralCode]="validReferralCode"
  ></brave-signup-pure>
</div>
