<ng-container *ngIf="referral && campaign">
  <ng-container *ngIf="referral.eligible && referral.campaignActive !== 'NO_CAMPAIGN'">
    <h3 class="mt-8 text-lg font-bold mb-1">Be a Credit Hero!</h3>
    <p class="text-sm mb-4">Refer your friends to Brave Credit so you both earn rewards on your credit journey</p>
    <div
      class="
        flex flex-col
        justify-evenly
        items-center
        align-center
        py-6
        mb-4
        cursor-pointer
        shadow
        rounded-lg
        border border-blueGray-300
        bg-indigo-800
        text-white
      "
      (click)="goToReferral()"
    >
      <h3 class="mb-5">Friends referred this campaign:</h3>

      <div class="relative">
        <div class="absolute min-w-full min-h-full flex flex-col justify-center items-center">
          <h1 class="text-white font-semibold text-center text-7xl mb-2">
            {{ referral.campaignActiveReferred || 0 }}/{{ campaign.maxReferrals || 10 }}
          </h1>
          <p class="text-center text-2xl" style="max-width: 50%">Referrals</p>
        </div>

        <brave-percentage-gauge
          [percentageNumber]="[{ name: 'name', value: percentage }]"
          [startAngle]="180"
          [runCalcColor]="false"
          [view]="[350, 250]"
        ></brave-percentage-gauge>
      </div>

      <div class="flex justify-center items-center mt-5 mb-5">
        <p class="text-lg font-bold">Learn More</p>
        <span class="material-icons-outlined"> chevron_right </span>
      </div>
    </div>
  </ng-container>
</ng-container>
