<div class="mb-4 relative flex flex-col break-words w-full py-5 rounded-lg border border-slate-300">
  <div class="flex pr-5">
    <div class="px-4 w-13">
      <!-- left column  section 1 -->
      <div
        class="rounded-full border-none w-5 h-5"
        [ngStyle]="{ 'background-color': creditStatus | accountStatus }"
      ></div>
    </div>
    <div class="flex flex-col w-full">
      <!--  right column section 2 -->
      <div class="flex justify-between p-0 -mt-1 mb-1">
        <!-- header  -->
        <p class="brave-body1-semibold">
          {{ creditUtilization?.creditorName || '' }}
          {{ open ? '(Open)' : '(Closed)' }}
        </p>
        <p class="brave-body1-semibold">{{ percetangeUtilization || '--' }}%</p>
      </div>

      <div *ngIf="isCreditCard" class="flex flex-row">
        <!-- credit balance  -->
        <span class="brave-body1">{{ CREDIT_MIX_CONTENT.creditMixInitial.creditMixCard.span1 }}&nbsp;</span>
        <span class="brave-body1">{{ creditUtilization?.currentBalance | currency }}</span>
      </div>

      <div *ngIf="!isCreditCard" class="flex flex-row">
        <!-- credit balance  -->
        <span class="brave-body1">{{ CREDIT_MIX_CONTENT.creditMixInitial.creditMixCard.span2 }}&nbsp;</span>
        <span class="brave-body1">{{ creditUtilization?.currentBalance | currency }}</span>
      </div>

      <div *ngIf="isCreditCard" class="flex flex-row">
        <!-- credit limit  -->
        <span class="brave-body1">{{ CREDIT_MIX_CONTENT.creditMixInitial.creditMixCard.span3 }}&nbsp;</span>

        <span class="brave-body1">{{ creditUtilization?.creditLimit | currency }}</span>
      </div>

      <div *ngIf="!isCreditCard" class="flex flex-row">
        <!-- credit limit  -->
        <span class="brave-body1">{{ CREDIT_MIX_CONTENT.creditMixInitial.creditMixCard.span4 }}&nbsp;</span>

        <span class="brave-body1">{{ creditUtilization?.config?.highestBalance | currency }}</span>
      </div>

      <div class="mt-2">
        <!-- buttons goes here -->
        <brave-viewdetail-button #viewDetails>{{
          CREDIT_MIX_CONTENT.creditMixInitial.creditMixCard.component1
        }}</brave-viewdetail-button>
      </div>
    </div>
  </div>

  <div
    [@openClose]="(viewDetails.open$ | async) ? 'open' : 'closed'"
    class="flex flex-col justify-evenly items-center overflow-hidden"
  >
    <div class="flex flex-col w-full py-5 px-4">
      <div class="border-t border-slate-300"></div>
    </div>

    <div class="flex flex-row justify-center align-center">
      <ng-container *ngIf="creditUtilization?.config?.tradeline | tradelineToPages as data">
        <brave-basic-carousel [pages]="tradelinepages" [data]="data"></brave-basic-carousel>
      </ng-container>
    </div>
  </div>
</div>
